<div class="row" ng-controller="fordere.admin.kozoomCtrl as ctrl">
    <div class="col-lg-12">
        <div class="page-content page-shortcode">
            <div class="boxedtitle page-title">
                <h2>Match-Data</h2>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label">Disziplin</label>
                    <select ng-model="ctrl.model.discipline">
                        <option value="000">Offenes Doppel</option>
                        <option value="001">Offenes Einzel</option>
                        <option value="013">Mixed</option>
                        <option value="010">DYP</option>
                        <option value="004">Damen Doppel</option>
                        <option value="005">Damen Einzel</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label" for="numberOfSets">Anzahl Sätze</label>
                    <input class="form-control" type="text" name="numberOfSets" ng-model="ctrl.model.numberOfSets" />
                </div>


                <div class="form-group">
                    <label class="control-label" for="tournamentProgress">Tournament Progress (z.B: WBR129 oder LBR 129)</label>
                    <input class="form-control" type="text" name="tournamentProgress" ng-model="ctrl.model.tournamentProgress" />
                </div>


                <div class="form-group">
                    <label class="control-label" for="tableNumber">Tisch Nummer</label>
                    <select ng-model="ctrl.model.tableNumber">
                        <option value="1">Tisch 1</option>
                        <option value="2">Tisch 2</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label">Team 1 - Player 1</label>
                    <input class="form-control" type="text" ng-model="ctrl.player1" uib-typeahead="player as player.name for player in ctrl.players | filter:$viewValue | limitTo:8">
                </div>

                <div class="form-group">
                    <label class="control-label">Team 1 - Player 2</label>
                    <input class="form-control" type="text" ng-model="ctrl.player2" uib-typeahead="player as player.name for player in ctrl.players | filter:$viewValue | limitTo:8">
                </div>

                <div class="form-group">
                    <label class="control-label">Team 2 - Player 1</label>
                    <input class="form-control" type="text" ng-model="ctrl.player3" uib-typeahead="player as player.name for player in ctrl.players | filter:$viewValue | limitTo:8">
                </div>

                <div class="form-group">
                    <label class="control-label">Team 2 - Player 2</label>
                    <input class="form-control" type="text" ng-model="ctrl.player4" uib-typeahead="player as player.name for player in ctrl.players | filter:$viewValue | limitTo:8">
                </div>
            </div>


            <button class="btn" ng-click="ctrl.send()">Updaten senden</button>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="page-content page-shortcode">
            <div class="boxedtitle page-title">
                <h2>Kozoom - Metadata</h2>
            </div>

            <textarea ng-model="ctrl.playersRawData"></textarea>
            <button class="btn" ng-click="ctrl.updatePlayerData()">Spielerliste updaten</button>

            <div class="form-group">
                <label class="control-label" for="key">Key</label>
                <input class="form-control" type="text" name="key" ng-model="ctrl.model.key" />
            </div>

            <div class="form-group">
                <label class="control-label" for="key">Token</label>
                <input class="form-control" type="text" name="token" ng-model="ctrl.model.token" />
            </div>

            <div class="form-group">
                <label class="control-label" for="tournamentSoftware">Turnier-Software</label>
                <input class="form-control" type="text" name="tournamentSoftware" ng-model="ctrl.model.tournamentSoftware" />
            </div>

        </div>
    </div>
</div>