<div class="row" ng-controller="fordere.tournamentregistrationCtrl as ctrl">

    <p class="alert alert-success" style="text-align: center" ng-if="ctrl.done">
        <strong>Jeii! Deine Anmeldung hat funktioniert. </strong><br /><br />
        Überprüfe bitte deine Anmeldebestätigung welche du gleich per Mail erhalten solltest. <br />
        Wir freuen uns auf deinen Besuch bei uns in Zürich :-)
        <br /><br />
        <button ng-click="ctrl.reset()" class="btn btn-default">Weitere Anmeldung eintragen</button>
    </p>

    <div class="col-md-4" ng-if="!ctrl.done">
        <div class="page-content page-shortcode">
            <div class="boxedtitle page-title">
                <h2>Deine Daten</h2>
            </div>

            <p>
                <label>Name</label>
                <input type="text" ng-model="ctrl.model.UserName" style="width: 100%" />
            </p>

            <p>
                <label>E-Mail</label>
                <input type="text" ng-model="ctrl.model.UserMail" style="width: 100%" />
            </p>

        </div>
    </div>

    <div class="col-md-8" ng-if="!ctrl.done">
        <div class="page-content page-shortcode">
            <div class="row">
                <div class="col-md-6">
                    <div class="boxedtitle page-title">
                        <h2>Samstag</h2>
                    </div>

                    <div class="fordere-inscription-discipline">
                        <p>
                            <label><input type="checkbox" ng-model="ctrl.nd" /> Neulinge Doppel</label>
                        </p>

                        <p ng-if="ctrl.nd">
                            <label>Mitspieler</label>
                            <input type="text" ng-model="ctrl.ndteammate" style="width: 100%" />
                        </p>
                    </div>

                    <div class="fordere-inscription-discipline" style="margin-bottom: 20px">
                        <p>
                            <label><input type="checkbox" ng-model="ctrl.od" /> Offenes Doppel</label>
                        </p>

                        <p ng-if="ctrl.od">
                            <label>Mitspieler</label>
                            <input type="text" ng-model="ctrl.odteammate" style="width: 100%" />
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="boxedtitle page-title">
                        <h2>Sonntag</h2>
                    </div>

                    <div class="fordere-inscription-discipline">
                        <p>
                            <label><input type="checkbox" ng-model="ctrl.oe" /> Offenes Einzel</label>
                        </p>
                    </div>

                    <div class="fordere-inscription-discipline">
                        <p>
                            <label><input type="checkbox" ng-model="ctrl.de" /> Damen Einzel</label>
                        </p>
                    </div>

                    <div class="fordere-inscription-discipline">
                        <p>
                            <label><input type="checkbox" ng-model="ctrl.dd" /> Damen Doppel</label>
                        </p>

                        <p ng-if="ctrl.dd">
                            <label>Mitspieler</label>
                            <input type="text" ng-model="ctrl.ddteammate" style="width: 100%" />
                        </p>
                    </div>

                    <div class="fordere-inscription-discipline">
                        <p>
                            <label><input type="checkbox" ng-model="ctrl.mx"/>Mixed</label>
                        </p>

                        <p ng-if="ctrl.mx">
                            <label>Mitspieler</label>

                            <input type="text" ng-model="ctrl.mxteammate" style="width: 100%"/>
                        </p>
                    </div>

                    <p class="alert alert-info">Damen müssen sich zwischen DE und OE entscheiden. Eine Anmeldung in beiden Disziplinen ist nicht möglich.</p>
                </div>
            </div>

            <button class="btn btn-success pull-right" style="margin-top: 20px" ng-click="ctrl.register()" ng-disabled="!ctrl.isValid() || ctrl.inprogress">Anmelden</button>
        </div>
    </div>
</div>
