<div class="row" ng-controller="fordere.tournamentregistrationSffCtrl as ctrl">

    <p class="alert alert-success" style="text-align: center" ng-if="ctrl.done">
        <strong>Jeii! Deine Anmeldung hat funktioniert. </strong><br /><br />
        Überprüfe bitte deine Anmeldebestätigung welche du gleich per Mail erhalten solltest. <br /><br />
        <strong>Bitte bezahle umgehend den gesamten Betrag von {{ctrl.Total}} CHF für dein Team auf unser Konto ein!</strong><br /><br />

        Zürcher Kantonalbank<br />
        CH17 0070 0110 0062 5292 5<br />
        fordere.ch<br />
        8010 Zürich<br />
        <br /><br />
        <button ng-click="ctrl.reset()" class="btn btn-default">Weitere Anmeldung eintragen</button>
    </p>

    <div class="col-md-4" ng-if="!ctrl.done">
        <div class="page-content page-shortcode">
            <div class="boxedtitle page-title">
                <h2>Deine Daten</h2>
            </div>

            <p>
                <label>Vorname / Nachname</label>
                <input type="text" ng-model="ctrl.model.Player1.Name" style="width: 100%" />
            </p>

            <p>
                <label>E-Mail</label>
                <input type="text" ng-model="ctrl.model.Player1.Mail" style="width: 100%" />
            </p>

            <p>
                <label>Dein SBB Abo</label>
                <select ng-model="ctrl.model.Player1.Abo">
                    <option>Anreise mit Gruppe - Kein SBB Abo</option>
                    <option>Anreise mit Gruppe - Halbtax</option>
                    <option>Anreise mit Gruppe - GA</option>
                    <option>Individuelle Reise</option>
                </select>
            </p>
        </div>
    </div>

    <div class="col-md-4" ng-if="!ctrl.done">
        <div class="page-content page-shortcode">
            <div class="boxedtitle page-title">
                <h2>Disziplin</h2>
            </div>

            <p class="alert alert-info">Du musst dich zwischen dem Heroes-Cup und dem DoubleDouble entscheiden.</p>

            <p>
                <label>Turnier</label>
                <select ng-model="ctrl.model.Tournament">
                    <option value="0">Heroes-Cup</option>
                    <option value="1">DoubleDouble</option>
                </select>
            </p>

        </div>
    </div>

    <div class="col-md-4" ng-if="ctrl.model.Tournament === '0' && !ctrl.done">
        <div class="page-content page-shortcode">
            <div class="boxedtitle page-title">
                <h2>Dein Mitspieler</h2>
            </div>

            <p>
                <label>Vorname/Nachname</label>
                <input type="text" ng-model="ctrl.model.Player2.Name" style="width: 100%" />
            </p>

            <p>
                <label>E-Mail</label>
                <input type="text" ng-model="ctrl.model.Player2.Mail" style="width: 100%" />
            </p>

            <p>
                <label>SBB Abo</label>
                <select ng-model="ctrl.model.Player2.Abo">
                    <option>Anreise mit Gruppe - Kein SBB Abo</option>
                    <option>Anreise mit Gruppe - Halbtax</option>
                    <option>Anreise mit Gruppe - GA</option>
                    <option>Individuelle Reise</option>
                </select>
            </p>

        </div>
    </div>

    <div class="col-md-4" ng-if="ctrl.model.Tournament === '1' && !ctrl.done">
        <div class="page-content page-shortcode">
            <div class="boxedtitle page-title">
                <h2>Deine Mitspieler</h2>
            </div>

            <p>
                <label>Teamname</label>
                <input type="text" ng-model="ctrl.model.TeamName" style="width: 100%" />
            </p>


            <hr />

            <p>
                <label>Vorname/Nachname Mitspieler 1</label>
                <input type="text" ng-model="ctrl.model.Player2.Name" style="width: 100%" />
            </p>

            <p>
                <label>E-Mail Mitspieler 2</label>
                <input type="text" ng-model="ctrl.model.Player2.Mail" style="width: 100%" />
            </p>

            <p>
                <label>SBB Abo Mitspieler 1</label>
                <select ng-model="ctrl.model.Player2.Abo">
                    <option>Anreise mit Gruppe - Kein SBB Abo</option>
                    <option>Anreise mit Gruppe - Halbtax</option>
                    <option>Anreise mit Gruppe - GA</option>
                    <option>Individuelle Reise</option>
                </select>
            </p>


            <hr />

            <p>
                <label>Vorname/Nachname Mitspieler 2</label>
                <input type="text" ng-model="ctrl.model.Player3.Name" style="width: 100%" />
            </p>

            <p>
                <label>E-Mail Mitspieler 3</label>
                <input type="text" ng-model="ctrl.model.Player3.Mail" style="width: 100%" />
            </p>

            <p>
                <label>SBB Abo Mitspieler 2</label>
                <select ng-model="ctrl.model.Player3.Abo">
                    <option>Anreise mit Gruppe - Kein SBB Abo</option>
                    <option>Anreise mit Gruppe - Halbtax</option>
                    <option>Anreise mit Gruppe - GA</option>
                    <option>Individuelle Reise</option>
                </select>
            </p>


            <hr />

            <p>
                <label>Vorname/Nachname Mitspieler 3</label>
                <input type="text" ng-model="ctrl.model.Player4.Name" style="width: 100%" />
            </p>

            <p>
                <label>E-Mail Mitspieler 4</label>
                <input type="text" ng-model="ctrl.model.Player4.Mail" style="width: 100%" />
            </p>

            <p>
                <label>SBB Abo Mitspieler 3</label>
                <select ng-model="ctrl.model.Player4.Abo">
                    <option>Anreise mit Gruppe - Kein SBB Abo</option>
                    <option>Anreise mit Gruppe - Halbtax</option>
                    <option>Anreise mit Gruppe - GA</option>
                    <option>Individuelle Reise</option>
                </select>
            </p>

        </div>
    </div>

    <div class="col-md-12" ng-if="!ctrl.done">
        <div class="page-content page-shortcode">
            <div class="boxedtitle page-title">
                <h2>Anmeldung</h2>
            </div>

            <p>
                <label>Bemerkung</label>
                <textarea ng-model="ctrl.model.Comment" style="width: 100%"></textarea>
            </p>

            <button class="btn btn-success pull-right" style="margin-top: 20px" ng-click="ctrl.register()" ng-disabled="!ctrl.isValid() || ctrl.inprogress">Anmelden</button>
        </div>
    </div>

</div>
