<div class="row" ng-controller="fordere.contactCtrl as ctrl">
    <div class="col-md-7">
        <div class="page-content">
            <div class="boxedtitle page-title">
                <h2>Kontakt</h2>
            </div>
            <p>Hast du eine Frage? Hast du Anregungen zur Liga oder zur Webseite? Oder hast du vielleicht ein Problem auf der Webseite entdeckt?</p>

            <p class="alert alert-warning">Leider ist das Formular gerade kaputt. Schreib uns doch einfach eine E-Mail :)</p>
        </div>
    </div>

    <div class="col-md-5" ng-if="ctrl.isDivision(1)">
        <div class="page-content">
            <div class="boxedtitle page-title">
                <h2>Über uns</h2>
            </div>
            <p>Die Bar-foos-league ist Zürichs offizielle Tischfussball-Liga. Zwischen Dezember und Juli spielen über 100 Teams in verschiedenen Stärkeklassen um Ruhm und Ehre.</p>
            <div class="widget widget_contact">
                <ul>
                    <li><i class="icon-map-marker"></i>Adresse Präsident:<p>Stefan Schöb, Katzenbachstrasse 101, 8052 Zürich</p></li>
                    <li><i class="icon-envelope-alt"></i>E-mail :<p>info@fordere.ch</p></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="col-md-5" ng-if="ctrl.isDivision(2)">
        <div class="page-content">
            <div class="boxedtitle page-title">
                <h2>Über uns</h2>
            </div>
            <p>Die Bar-foos-league ist St. Gallens offizielle Tischfussball-Liga. </p>
            <div class="widget widget_contact">
                <ul>
                    <li><i class="icon-envelope-alt"></i>E-mail :<p>sg@fordere.ch</p></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="col-md-5" ng-if="ctrl.isDivision(3)">
        <div class="page-content">
            <div class="boxedtitle page-title">
                <h2>Über uns</h2>
            </div>
            <p>Die Bar-foos-league ist die offizielle Tischfussball-Liga in Luzern.</p>
            <div class="widget widget_contact">
                <ul>
                    <li><i class="icon-map-marker"></i>Adresse Präsident:<p>Jorge Rodriguez, Bachtalen 4, 6020 Emmenbrücke</p></li>
                    <li><i class="icon-envelope-alt"></i>E-mail :<p>info.luzern@fordere.ch</p></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-5" ng-if="ctrl.isDivision(4)">
        <div class="page-content">
            <div class="boxedtitle page-title">
                <h2>Über uns</h2>
            </div>
            <p>Die Bar-foos-league ist die offizielle Tischfussball-Liga in Winti.</p>
            <div class="widget widget_contact">
                <ul>
                    <li><i class="icon-map-marker"></i>Adresse Präsident:<p>Ramon Schnider</p></li>
                    <li><i class="icon-envelope-alt"></i>E-mail :<p>winti@fordere.ch</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>