<section class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="widget widget_contact">
                <h3 class="widget_title">&Uuml;ber fordere.ch</h3>
                <p>Die Bar-foos-league ist die Tischfussball-Liga in mehreren St&auml;dten der Schweiz. Vom Plauschspieler bis zum Profi-T&ouml;ggeler sind bei uns alle willkommen.</p>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="widget widget_contact">
                <h3 class="widget_title">Die Saison</h3>
                <p>Eine Saison dauert knapp sechs Monate und beginnt im Dezember und endet mit dem grossen Finaltag im Mai/Juni.</p>
            </div>
        </div>
    </div>
</section>