<section class="container clearfix" ng-controller="fordere.menuCtrl as ctrl">
    <div class="logo">
        <ul>
            <li>
                <a href="/" ng-click="ctrl.reload()">Fordere - Admin Panel</a>
            </li>
        </ul>
    </div>

    <label for="mobileMenu" class="mobileMenuLabel">Navigation</label>
    <input type="checkbox" ng-model="isMenuOpen" id="mobileMenu" style="display: none;" class="mobileMenuLabel"
           role="button">
    <ul id="menu" menu>
        <li>
            <a ng-click="isMenuOpen = !isMenuOpen" href="/admin/news">
                <i class="fa fa-bullhorn fa-fw"></i>
                News
            </a>
        </li>
        <li>
            <a ng-click="isMenuOpen = !isMenuOpen" href="/admin/users">
                <i class="fa fa-users fa-fw"></i>
                Benutzer
            </a>
        </li>
        <li>
            <a ng-click="isMenuOpen = !isMenuOpen" href="/admin/bars">
                <i class="fa fa-beer fa-fw"></i>
                Bars
            </a>
        </li>
        <li>
            <a ng-click="isMenuOpen = !isMenuOpen" href="/admin/mailinglist">
                <i class="fa fa-envelope fa-fw"></i>
                Mailing lists
            </a>
        </li>
        <li>
            <a ng-click="isMenuOpen = !isMenuOpen" href="/admin/seasons">
                <i class="fa fa-trophy fa-fw"></i>
                Spielbetrieb
            </a>
        </li>
    </ul>
</section>
