<div class="row" ng-controller="fordere.myseasonCtrl as ctrl">
    <div class="col-lg-9">
        <div class="page-content page-shortcode">
            <div class="boxedtitle page-title">
                <h2>Meine Saison</h2>
            </div>

            <div ng-if="ctrl.isAuthenticated && ctrl.competitions.length === 0">
                <p>
                    Du hast dich nicht für die Saison angemeldet.
                </p>
                <p  ng-if="ctrl.isDivision(1)">Natürlich kannst du aber an unseren Bar-Masters-Turnieren teilnehmen. Mehr Infos dazu findest du unter <a href="/barmasters">Bar-Masters</a></p>
            </div>

            <div ng-if="ctrl.isAuthenticated && ctrl.competitions.length > 0">

                <p class="hidden-sm hidden-xs">
                    In diesem Bereich findest du sämtliche Spiele welche du in dieser Saison absolvieren musst. Je nach Wettbewerb können während der Saison neue Spiele hinzukommen. Ansonsten denke immer daran, dass gegen Ende der Saison die Bar's chronisch überlastet sind. Es ist also von Vorteil gleich schon von Anfang an loszulegen.
                </p>

                <p class="alert alert-danger" ng-show="ctrl.hasPaymentForCurrentSeason.HasPaid === false">
                    <strong>Mitgliederbeitrag noch offen!</strong> <br />
                    Falls du den Betrag bereits überwiesen hast, kannst du diese Meldung ignorieren. Unser Kassier wird die Zahlung in Kürze nachführen. <br /><br />
                    Falls du wirklich noch nicht bezahlt hast, dann wird es höchste Zeit!<br />
                    <a href="/season/payment" class="btn btn-danger">Jetzt bezahlen</a>
                </p>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-push-8 col-md-4 margin_t_25">
                            <div class="input-group">
                                <input class="form-control input-sm" type="text" placeholder="Spiel suchen..." ng-model="searchText.$" ng-debounce="250">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-repeat="competition in ctrl.competitions">

                    <h3>{{competition.Name}}</h3>

                    <!-- Cup competition -->
                    <div ng-show="{{competition.isCup}}">

                        <div class="row fordere-game-row" ng-repeat="match in competition.matches | filter:searchText:strict">
                            <div style="float: left; width: 10px">
                                <i class="fa fa-home" ng-class="{'awaygame-icon' : !ctrl.isHomeMatch(match)}" title="{{ctrl.isHomeMatch(match) ? 'Heimspiel' : 'Auswärtsspiel'}}" data-toggle="tooltip" data-placement="left"></i>
                            </div>

                            <div class="col-sm-2 col-xs-2">
                                <span>{{match.CupRound}}. Runde</span>
                            </div>

                            <div class="col-sm-7 col-xs-5" style="margin-right: -20px" ng-hide="ctrl.isPlannedMatch(match) || ctrl.isPlayedMatch(match)">
                                <a href="/teams/{{ctrl.getOpponentTeamId(match)}}">{{ctrl.getOpponentTeamName(match)}}</a>
                            </div>

                            <div class="col-sm-4 col-xs-5" style="margin-right: -20px" ng-show="ctrl.isPlannedMatch(match) || ctrl.isPlayedMatch(match)">
                                <a href="/teams/{{ctrl.getOpponentTeamId(match)}}" ng-if="!match.IsFreeTicket">{{ctrl.getOpponentTeamName(match)}}</a>
                                <span ng-if="match.IsFreeTicket">{{match.GuestTeamName}}</span>
                            </div>

                            <div class="col-sm-3 hidden-xs" ng-show="ctrl.isPlannedMatch(match) || ctrl.isPlayedMatch(match)">
                                {{match.BarName}} {{match.PlayDate | date: 'dd.MM.yy HH:mm' : 'UTC'}}
                            </div>

                            <div class="col-sm-3 col-xs-3" style="padding-right:0">

                                <button class="btn btn-default btn-xs pull-right" ng-click="ctrl.enterResult(match)" ng-show="ctrl.isPlannedMatch(match) && !ctrl.isPlayedMatch(match)  && ctrl.isCurrentCupRoundMatch(match)">Eintragen</button>
                                <button class="btn btn-default btn-xs pull-right" style="margin-right:4px;" ng-click="ctrl.cancelMatch(match)" ng-show="ctrl.isPlannedMatch(match) && !ctrl.isPlayedMatch(match)  && ctrl.isCurrentCupRoundMatch(match)">Absagen</button>

                                <button class="btn btn-default btn-xs pull-right" ng-click="ctrl.arrangeMatch(match)" ng-show="!ctrl.isPlannedMatch(match)  && ctrl.isCurrentCupRoundMatch(match) && !ctrl.isPlayedMatch(match)">Abmachen</button>
                                <button class="btn btn-default btn-xs pull-right" ng-click="ctrl.deleteResult(match)" ng-show="ctrl.isPlayedMatch(match) && ctrl.isCurrentCupRoundMatch(match) && !match.IsFreeTicket && ctrl.canDeleteResult(match)"><i class="fa fa-times" title="Resultat löschen" data-toggle="tooltip" data-placement="top"></i></button>

                                <span class="pull-right" style="margin-right: 4px" ng-show="ctrl.isPlayedMatch(match)">{{ctrl.getResult(match)}}</span>
                                <span class="pull-right badge alert-success" style="margin-right: 4px" ng-show="ctrl.isWin(match) && ctrl.isPlayedMatch(match)">Win</span>
                                <span class="pull-right badge alert-danger" style="margin-right: 4px" ng-show="ctrl.isLoss(match) && ctrl.isPlayedMatch(match)">Loss</span>

                            </div>

                            <div class="col-xs-12 visible-xs" style="margin-left: 10px">
                                {{ctrl.currentCupRoundMatch.BarName}} {{match.PlayDate | date: 'dd.MM.yy HH:mm' : 'UTC'}}
                            </div>
                        </div>
                    </div>

                    <!-- League competition -->
                    <div ng-show="{{!competition.isCup}}">

                        <!-- Offene Spiele -->
                        <h4>Offene Spiele</h4>
                        <span ng-show="competition.openMatches.length == 0">Gratulation, du hast sämtliche Spiele durchgeführt!</span>

                        <div class="row fordere-game-row" ng-repeat="match in competition.openMatches | filter:searchText:strict">
                            <div class="pull-left" style="width: 10px">
                                <i class="fa fa-home" ng-class="{'awaygame-icon': !ctrl.isHomeMatch(match)}" title="{{ctrl.isHomeMatch(match) ? 'Heimspiel' : 'Auswärtsspiel'}}" data-toggle="tooltip" data-placement="left"></i>
                            </div>
                            <div class="col-sm-4 col-xs-9" style="margin-right: -20px">
                                <a href="/teams/{{ctrl.getOpponentTeamId(match)}}">{{ctrl.getOpponentTeamName(match)}}</a> ({{ctrl.getOpponentTeamWishPlayDay(match)}})
                            </div>

                            <div class="col-sm-5 hidden-xs">
                                <span ng-show="ctrl.isPlannedMatch(match)">{{match.BarName}} {{match.PlayDate | date: 'dd.MM.yy HH:mm' : 'UTC'}}</span>
                            </div>

                            <div class="col-sm-3 col-xs-3" style="padding-right:0" ng-if="ctrl.isPlannedMatch(match)">
                                <button class="btn btn-default btn-xs pull-right" ng-click="ctrl.enterResult(match)">Eintragen</button>
                                <button class="btn btn-default btn-xs pull-right" style="margin-right:4px;" ng-click="ctrl.cancelMatch(match)">Absagen</button>
                            </div>

                            <div class="col-sm-3 col-xs-3" style="padding-right:0" ng-if="!ctrl.isPlannedMatch(match)">
                                <button class="btn btn-default btn-xs pull-right" ng-click="ctrl.arrangeMatch(match)">Abmachen</button>
                            </div>

                            <div class="col-xs-12 visible-xs" style="margin-left: 10px">
                                <span ng-show="ctrl.isPlannedMatch(match)">{{match.BarName}} {{match.PlayDate | date: 'dd.MM.yy HH:mm' : 'UTC'}}</span>
                            </div>

                        </div>

                        <a ng-show="ctrl.openMatchMails[competition.openMatches[0].LeagueId]" href="mailto:{{ctrl.openMatchMails[competition.openMatches[0].LeagueId]}}" class="btn btn-xs btn-default" style="margin-top: 8px; margin-bottom: 12px"><i class="fa fa-envelope-o"></i> Mail an alle noch offenen Gegner</a>

                        <!-- Gespielte Spiele -->
                        <h4>Gespielte Spiele</h4>
                        <span ng-show="competition.playedMatches.length === 0">Du hast noch keine Spiele durchgeführt! Wäre nicht heute der optimale Tag um in die Saison zu starten?</span>

                        <div class="row fordere-game-row" ng-repeat="match in competition.playedMatches | filter:searchText:strict">
                            <div style="float: left; width: 10px">
                                <i class="fa fa-home" ng-class="{'awaygame-icon' : !ctrl.isHomeMatch(match)}" title="{{ctrl.isHomeMatch(match) ? 'Heimspiel' : 'Auswärtsspiel'}}" data-toggle="tooltip" data-placement="left"></i>
                            </div>
                            <div class="col-sm-4 col-xs-7" style="margin-right: -20px">
                                <a href="/teams/{{ctrl.getOpponentTeamId(match)}}">{{ctrl.getOpponentTeamName(match)}}</a>
                            </div>

                            <div class="col-sm-5 hidden-xs">
                                <span ng-if="!ctrl.isForfaitMatch(match)">{{match.BarName}}, {{match.PlayDate | date: 'dd.MM.yy HH:mm' : 'UTC'}}</span>
                                <span ng-if="ctrl.isForfaitMatch(match)" class="badge alert-info">Forfait</span>
                                <span ng-if="match.IsNotPlayedMatch" class="badge alert-info">Nicht gespielt</span>
                            </div>

                            <div class="col-sm-1  col-xs-2" ng-if="ctrl.isWin(match)">
                                <span class="pull-right badge alert-success" style="margin-right: 4px">Win</span>
                            </div>

                            <div class="col-sm-1  col-xs-2" ng-if="ctrl.isDraw(match)">
                                <span class="pull-right badge alert-warning" style="margin-right: 4px">Draw</span>
                            </div>

                            <div class="col-sm-1  col-xs-2" ng-if="ctrl.isLoss(match)">
                                <span class="pull-right badge alert-danger" style="margin-right: 4px">Loss</span>
                            </div>

                            <div class="col-sm-2 col-xs-3" style="padding-right:0">
                                <a class="pull-right btn btn-default btn-xs" ng-show="ctrl.canDeleteResult(match)" ng-click="ctrl.deleteResult(match)"><i class="fa fa-times" title="Resultat löschen" data-toggle="tooltip" data-placement="top"></i></a>
                                <span class="pull-right" style="margin-right: 4px">{{ctrl.getResult(match)}}</span>
                            </div>

                            <div class="col-xs-12 visible-xs" style="margin-left: 10px">
                                {{match.BarName}} {{match.PlayDate | date: 'dd.MM.yy HH:mm' : 'UTC'}}
                            </div>
                        </div>
                    </div>

                    <!-- Nicht gespielte Spiele-->
                    <div ng-if="competition.notPlayedMatches.length > 0">
                        <h4>Nicht gespielte Spiele</h4>

                        <div class="row fordere-game-row" ng-repeat="match in competition.notPlayedMatches">
                            <div style="float: left; width: 10px">
                                <i class="fa fa-home" ng-class="{'awaygame-icon' : !ctrl.isHomeMatch(match)}" title="{{ctrl.isHomeMatch(match) ? 'Heimspiel' : 'Auswärtsspiel'}}" data-toggle="tooltip" data-placement="left"></i>
                            </div>

                            <div class="col-sm-4 col-xs-7" style="margin-right: -20px">
                                <a href="/teams/{{ctrl.getOpponentTeamId(match)}}">{{ctrl.getOpponentTeamName(match)}}</a>
                            </div>

                            <div class="col-sm-5 hidden-xs">
                                <span class="badge alert-info">Nicht gespielt</span>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <i class="fa fa-home" title="Heimspiel" data-toggle="tooltip" data-placement="left"></i> &raquo; Heimspiel &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-home awaygame-icon" title="Auswärtsspiel" data-toggle="tooltip" data-placement="left"></i> &raquo; Auswärtsspiel

            </div>

            <div ng-if="!ctrl.isAuthenticated">
                <p class="alert alert-info">Damit du deine Spiele abmachen und deine Resultate eintragen kannst musst du dich bei fordere.ch anmelden!</p>
            </div>

        </div>
    </div>

    <div class="col-lg-3">
        <div class="row" ng-if="ctrl.isAuthenticated && ctrl.competitions.length > 0" ng-show="ctrl.season.State == 'Running'">
            <div class="col-lg-12" ng-if="ctrl.isDivision(1)">
                <div class="page-content page-shortcode">
                    <div class="boxedtitle page-title">
                        <h2>Fortschritt</h2>
                    </div>
                    <strong>{{ctrl.progress.played}} von {{ctrl.progress.total}} Spielen</strong>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ctrl.progress.percent | number : 0}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ctrl.progress.percent | number : 0}}%; min-width: 0">
                        </div>
                    </div>

                    <br />

                    <strong>{{ctrl.progressdays.gone}} von {{ctrl.progressdays.total}} Tagen</strong>
                    <div class="progress">
                        <div class="progress-bar {{ctrl.getProgressClass()}}" role="progressbar" aria-valuenow="{{ctrl.progressdays.percent | number : 0}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ctrl.progressdays.percent |number: 0}}% ; min-width: 0 ">
                        </div>
                    </div>

                    <p class="alert alert-danger" ng-show="ctrl.getProgressDifference() > 20">
                        Achtung die Zeit wird knapp! Macht am besten gleich jetzt das nächste Spiel ab!
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="page-content page-shortcode">
                    <div class="boxedtitle page-title">
                        <h2>Termine</h2>
                    </div>

                    <p ng-bind-html="ctrl.dates"></p>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="arrangeGame" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schliessen</span></button>
                    <h4 class="modal-title" id="myModalLabel">Spiel abmachen</h4>
                </div>


                <div class="modal-body">
                    <div class="form-style form-style-3">
                        <p ng-if="ctrl.editingMatch">
                            <strong>Gegner</strong><br />
                            {{ctrl.getOpponentTeamName(ctrl.editingMatch)}}
                        </p>

                        <div class="form-group">
                            <label class="control-label" for="location">Bar</label>
                            <select class="form-control" ng-model="ctrl.editingMatch.BarId" name="location" ng-options="bar.Id as bar.Name for bar in ctrl.availableBars"></select>
                        </div>

                        <label class="control-label" for="location">Datum</label>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="ctrl.editingMatch.PlayDatePicker" is-open="ctrl.isDatePickerOpen" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>

                        <div class="form-group" ng-show="ctrl.possibleTables && ctrl.possibleTables.length > 1">
                            <label class="control-label" for="time">Tisch</label>
                            <select class="form-control" name="time" ng-model="ctrl.editingMatch.TableId" ng-options="table.Id as table.Name for table in ctrl.possibleTables"></select>
                        </div>
                        
                        <div class="form-group" ng-show="ctrl.possibleTimeSlots && ctrl.possibleTimeSlots.length > 0">
                            <label class="control-label" for="time">Zeit</label>
                            <select class="form-control" name="time" ng-model="ctrl.editingMatch.PlayDate" ng-options="(slot | date : 'HH:mm' : 'UTC') for slot in ctrl.possibleTimeSlots"></select>
                        </div>

                        <p class="alert alert-info" ng-show="ctrl.noTableAvailable">
                            <strong>Keine Tische verfügbar</strong> <br />
                            An diesem Tag ist in dieser Bar kein Tisch verfügbar! Steht in dieser Bar wirklich ein Tisch der auf den ausgewählten Wettbewerb passt? Falls ja, gib uns doch kurz Bescheid!
                        </p>
                        <p class="alert alert-info" ng-show="ctrl.noTimeSlotsFound && !ctrl.ignoreOpeningHours">
                            <strong>Keine Zeiten verfügbar</strong><br />
                            Keine mögliche Spielzeit an angegebenen Tag in der angegebenen Bar gefunden. Dies kann folgende Gründe haben:<br />
                            Die Bar ist an diesem Tag geschlossen<br />
                            Es sind bereits sämtliche möglichen Zeiten mit Spielen belegt.
                        </p>

                        <p ng-show="ctrl.noTimeSlotsFound || ctrl.possibleTimeSlots.length > 0">
                            <label for="ignoreOpeningHours"><input type="checkbox" name="ignoreOpeningHours" ng-model="ctrl.ignoreOpeningHours">Offizielle Öffnungszeiten ignorieren</label>

                        </p>

                        <p class="alert alert-warning" ng-show="ctrl.ignoreOpeningHours">
                            <strong>Warnung</strong><br />
                            Bitte keine Spiele abmachen, wenn die Bar geschlossen, der Tisch bereits besetzt oder die Bar zu dieser Zeit kein Spiel erlaubt. Du kannst dann Dein Spiel nicht austragen!<br />
                            Sollte das ausgewählte Lokal zu dieser Zeit immer geöffnet haben gib uns doch kurz Bescheid, dann passen wir die offiziellen Öffnungszeiten an!
                        </p>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                    <button type="button" class="btn btn-primary" ng-disabled="!ctrl.hasPlayTimeSet()" ng-click="ctrl.saveArrangeMatch()">Abmachen</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="enterResult" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schliessen</span></button>
                    <h4 class="modal-title" id="myModalLabel">Resultat eintragen</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label" for="location">Sätze Heimteam ({{ctrl.editingMatch.HomeTeamName}})</label>
                        <!--<select class="form-control" name="location" ng-model="ctrl.editingMatch.HomeTeamScore" ng-options="count for count in ctrl.possibleGoalCounts"></select>-->
                        <input class="form-control" type="number" name="homeTeamScore" ng-model="ctrl.editingMatch.HomeTeamScore" min="0" max="{{ctrl.maxGoalCount}}" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="location">Sätze Gastteam ({{ctrl.editingMatch.GuestTeamName}})</label>
                        <!--<select class="form-control" name="location" ng-model="ctrl.editingMatch.GuestTeamScore" ng-options="count for count in ctrl.possibleGoalCounts"></select>-->
                        <input class="form-control" type="number" name="homeTeamScore" ng-model="ctrl.editingMatch.GuestTeamScore" min="0" max="{{ctrl.maxGoalCount}}" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                    <button type="button" class="btn btn-primary" ng-disabled="!ctrl.isValidResult(ctrl.editingMatch) || formCtrl.$invalid" ng-click="ctrl.saveResult(ctrl.editingMatch)">Eintragen</button>
                </div>
            </div>
        </div>
    </div>

</div>
