<div ng-controller="registerUserCtrl as ctrl">
    <div class="row" ng-if="!ctrl.isAuthenticated()">

        <div class="col-md-3">
            <div class="page-content">
                <div class="boxedtitle page-title"><h2>Login</h2></div>

                <p><strong>Du hast schon einmal teilgenommen?</strong></p>
                <p>Dann hast du bereits einen Account. Logge dich ein.</p>

                <div class="form-style form-style-3">
                    <form name="profileForm">
                        <div class="form-inputs clearfix">
                            <p>
                                <label class="required">E-Mail<span>*</span></label>
                                <input type="text" ng-model="ctrl.loginUser.username" required />
                            </p>
                            <p>
                                <label class="required">Passwort<span>*</span></label>
                                <input type="password" ng-model="ctrl.loginUser.password">
                            </p>
                        </div>
                        <p class="form-submit">
                            <input type="button" value="Login" ng-click="ctrl.login()" class="btn btn-primary">
                        </p>
                    </form>
                </div>

            </div>

        </div>

        <div class="col-md-9">
            <div class="page-content">
                <div class="boxedtitle page-title"><h2>Registrieren</h2></div>

                <p><strong>Du bist zum ersten Mal dabei?</strong></p>
                <p>Dann kannst du hier einen Account erstellen. Diesen benötigst du, um an der Bar-Foos-League teilzunehmen.</p>


                <div class="alert alert-success" ng-show="ctrl.successfullyRegistered">
                    <b>Erfolgreich registriert!</b><br />
                    Du kannst dich nun mit deinen Angaben anmelden! <br />
                    Viel Spass und Erfolg in der Bar-foos-league!

                </div>

                <div class="alert alert-danger" ng-show="ctrl.registerError">
                    {{ctrl.error}}
                </div>


                <div class="form-style form-style-4" ng-hide="ctrl.successfullyRegistered">
                    <form name="profileForm">
                        <div class="form-inputs clearfix">
                            <p>
                                <label class="required">Vorname<span>*</span></label>
                                <input type="text" ng-model="ctrl.profile.FirstName" required />
                            </p>
                            <p>
                                <label class="required">Nachname<span>*</span></label>
                                <input type="text" ng-model="ctrl.profile.LastName">
                            </p>
                            <p>
                                <label class="required">E-Mail<span>*</span></label>
                                <input type="email" ng-model="ctrl.profile.Email" required>
                            </p>
                            <p>
								<label class="required">Telefon<span>*</span></label>
								<input type="text" ng-model="ctrl.profile.PhoneNumber" required>
                            </p>
                            <p>
                                <label class="required">Passwort <span>*</span></label>
                                <input type="password" ng-model="ctrl.profile.Password" required>
                            </p>
                            <p>
                                <label class="required">Passwort bestätigen<span>*</span></label>
                                <input type="password" ng-model="ctrl.password2">
                            </p>
                            <p class="alert alert-danger" style="width: 100%;" ng-show="!ctrl.arePasswordsEqual">
                                Passwörter sind nicht identisch!
                            </p>

                        </div>
                        <p class="form-submit">
                            <input type="submit" ng-disabled="profileForm.$invalid || !ctrl.arePasswordsEqual" type="submit" value="Account erstellen" ng-click="ctrl.register()" class="btn btn-primary">
                        </p>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>

<div ng-controller="fordere.registerdetailCtrl as ctrl">
    <div class="row"  ng-if="ctrl.isAuthenticated()">
        <div class="col-md-8">
            <div class="page-content page-shortcode">
                <form name="registerDetailForm">
                    <div class="box_icon">
                        <div class="boxedtitle page-title">
                            <h2>Anmeldung {{ctrl.competition.Name}}</h2>
                        </div>

                        <div class="alert alert-danger" ng-show="ctrl.registerError">
                            {{ctrl.registerError}}
                        </div>


                        <p>
                            <div class="form-group">
                                <label class="control-label" for="teamname">Teamname<span>*</span></label>
                                <input class="form-control required-item" name="teamname" ng-model="ctrl.inscription.Name" required />
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="player">Spielpartner<span>*</span></label>
                                <input class="form-control" type="text" ng-model="ctrl.player2" uib-typeahead="player as (player.FirstName + ' ' + player.LastName) for player in ctrl.getPlayers($viewValue)"
                                       typeahead-editable="false"
                                       typeahead-wait-ms="300"
                                       required>
                            </div>

                            <div class="alert alert-info">
                                Falls dein Partner nicht in dieser Liste auftaucht kann das folgende Gründe haben:
                                <ul>
                                    <li>Dein Partner ist nicht bei fordere.ch registriert</li>
                                    <li>Dein Partner hat Vor- und Nachname nicht eingetragen in seinem Profil</li>
                                    <li>Dein Partner ist bereits mit einem anderen Spieler angemeldet</li>
                                </ul>
                                Sollte keiner dieser Gründe zutreffen, kontaktiere uns unter info@fordere.ch
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="location">Heimbar<span>*</span></label>
                                <select class="form-control required-item" name="location" ng-model="ctrl.inscription.BarId" ng-options="bar.Id as bar.Name for bar in ctrl.possibleBars" required></select>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="seasontarget">Motto</label>
                                <input class="form-control" name="seasontarget" ng-model="ctrl.inscription.SeasonAmbition" />
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="WishLeague">Wunschliga</label>
                                <select class="form-control" name="WishLeague" ng-model="ctrl.inscription.WishLeague">
                                    <option value="1">1. Liga</option>
                                    <option value="2">2. Liga</option>
                                    <option value="3">3. Liga</option>
                                    <option value="4">4. Liga</option>
                                    <option value="5">Plauschliga</option>
                                    <option value="0">Unbekannt</option>
                                </select>
                            </div>
                            <div class="alert alert-info">
                                Falls du schon einmal mitgespielt hast kannst du hier anhand deiner Erfahrung aus der vergangenen Saison deine Wunschliga angeben.
                                <br />
                                <br />
                                Diese Angabe ist <strong>keine</strong> definitive Einteilung sondern soll dem Modusteam als Einteilungshilfe nützlich sein.
                                <br />
                                <br />
                                Falls ihr neu seid werdet ihr automatisch durch das Modusteam zum Vorspielen eingeladen. Somit können wir für euch die optimale Liga finden.
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="WishPlayDay">Wunschspieltag</label>
                                <select class="form-control" name="WishPlayDay" ng-model="ctrl.inscription.WishPlayDay">
                                    <option value="Montag">Montag</option>
                                    <option value="Dienstag">Dienstag</option>
                                    <option value="Mittwoch">Mittwoch</option>
                                    <option value="Donnerstag">Donnerstag</option>
                                    <option value="Freitag">Freitag</option>
                                    <option value="Samstag">Samstag</option>
                                    <option value="Sonntag">Sonntag</option>
                                </select>
                            </div>
                            <div class="alert alert-info">
                                Gib an, an welchem Tag in der Woche du optimalerweise Spiele abmachen kannst. Dies wird euren Gegner als Info angezeigt und vereinfacht so das abmachen von Spielen.
                                <br />
                                <br />
                                Natürlich kannst du auch weiterhin an allen anderen Tagen Spiele abmachen :-)
                            </div>
                        </p>

                        <p class="alert alert-danger" ng-if="!ctrl.hasAnyPhoneNumber()">
                            <strong>Fehlende Kontakt-Infos</strong><br />
                            Weder du noch dein Spielparter haben im <a href="/profile">Profil</a> eine Telefonnummer angegeben. Damit ihr euch anmelden könnt, muss mindestens ein Spieler eine Nummer angeben. <br />
                            Ohne eine Nummer ist es für eure Gegner sehr schwierig, Spiele abzumachen. Die Nummer wird nur für eure direkten Gegner sichtbar sein.
                        </p>

                        <div class="alert alert-danger" ng-show="ctrl.registerError">
                            {{ctrl.registerError}}
                        </div>

                        <button style="width: 100%;" href="#" ng-click="ctrl.submitInscription()" ng-disabled="registerDetailForm.$invalid || !ctrl.hasAnyPhoneNumber()" class="center-block btn btn-primary">Anmeldung abschliessen</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="page-content page-shortcode">
                <div class="box_icon">
                    <div class="boxedtitle page-title">
                        <h2>{{ctrl.competition.Name}}</h2>
                    </div>
                    <div ng-bind-html="ctrl.getCompetitionDescription()"></div>
                </div>
            </div>
        </div>
    </div>
</div>