<div class="row" ng-controller="fordere.teamProfileCtrl as ctrl">

    <div class="col-md-12" ng-if="ctrl.team.IsForfaitOut">
        <p class="alert alert-warning">Leider ist '{{ctrl.team.Name}}' aus der aktuellen Saison ausgeschieden! Sämtliche Spiele werden 0:4 gewertet!</p>
    </div>

    <div class="col-md-12">
        <div class="page-content">
            <div class="boxedtitle page-title">
                <h2>{{ctrl.team.Name}}</h2>
            </div>

            <blockquote ng-if="ctrl.team.SeasonAmbition">{{ctrl.team.SeasonAmbition}}</blockquote>

            <blockquote ng-if="ctrl.team.WishPlayDay">Wunschspieltag: {{ctrl.team.WishPlayDay}}</blockquote>

            <!-- Player 1 -->
            <div class="col-md-6">
                <h3>{{ctrl.team.Player1.Name}}</h3>
                <div class="row">
                    <div class="col-md-2">
                        <div class="user-profile-img" ng-show="ctrl.team.Player1.Image">
                            <img src="//placehold.it/60x60/FFF/444" />
                        </div>
                        <div style="display: table; table-layout: fixed; width: 100%">
                            <div ng-hide=" ctrl.team.player1.image" style="background: #dedede; height:80px; text-align: center; vertical-align: middle; display: table-cell; width: 80px">Kein Bild vorhanden</div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="ul_list about-user">
                            <ul>
                                <li>
                                    <i class="fa fa-star-o"></i>Beitritt: <span>{{ctrl.team.Player1.CreatedDate | date:'dd.MM.yyyy HH:mm'}}</span>
                                </li>
                                <li ng-if="ctrl.team.Player1.Email">
                                    <i class="fa fa-envelope-o"></i>E-Mail: <a href="mailto:{{ctrl.team.Player1.Email}}">{{ctrl.team.Player1.Email}}</a>
                                </li>
                                <li ng-if="ctrl.team.Player1.PhoneNumber">
                                    <i class="fa fa-phone"></i>Telefon: <span>{{ctrl.team.Player1.PhoneNumber}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Player 2 -->
            <div class="col-md-6">
                <h3>{{ctrl.team.Player2.Name}}</h3>
                <div class="row">
                    <div class="col-md-2">
                        <div class="user-profile-img" ng-show="ctrl.team.Player2.Image">
                            <img src="{{ctrl.team.Player2.Image}}" />
                        </div>
                        <div style="display: table; table-layout: fixed; width: 100%">
                            <div ng-hide="ctrl.team.player1.image" style="background: #dedede; height:80px; text-align: center; vertical-align: middle; display: table-cell; width: 80px">Kein Bild vorhanden</div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="ul_list about-user">
                            <ul>
                                <li>
                                    <i class="fa fa-star-o"></i>Beitritt: <span>{{ctrl.team.Player2.CreatedDate | date:'dd.MM.yyyy HH:mm'}}</span>
                                </li>
                                <li ng-if="ctrl.team.Player2.Email">
                                    <i class="fa fa-envelope-o"></i>E-Mail: <a href="mailto:{{ctrl.team.Player2.Email}}">{{ctrl.team.Player2.Email}}</a>
                                </li>
                                <li ng-if="ctrl.team.Player2.PhoneNumber">
                                    <i class="fa fa-phone"></i>Telefon: <span>{{ctrl.team.Player2.PhoneNumber}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>



    <div class="col-md-12" ng-if="ctrl.matches && ctrl.matches.length > 0 && !ctrl.team.IsForfaitOut">
        <div class="page-content">
            <div class="boxedtitle page-title">
                <h2>Gespielte Spiele</h2>
            </div>

            <div class="table-responsive">

                <table class="table table-hover table-condensed" ng-if="ctrl.matches && ctrl.matches.length > 0">
                    <thead>
                        <tr>
                            <th class="col-md-3"></th>
                            <th class="col-md-2"></th>
                            <th class="col-md-3"></th>
                            <th class="col-md-1"></th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="match in ctrl.matches">
                            <td>
                                <i class="fa fa-home" ng-class="{'awaygame-icon' : !ctrl.isHomeMatch(match)}" title="{{ctrl.isHomeMatch(match) ? 'Heimspiel' : 'Auswärtsspiel'}}" data-toggle="tooltip" data-placement="left"></i>
                                &nbsp;<a href="/teams/{{ctrl.getOpponentTeamId(match)}}" ng-if="!match.IsFreeTicket">{{ctrl.getOpponentTeamName(match)}}</a>
                                <span ng-if="match.IsFreeTicket">{{ctrl.getOpponentTeamName(match)}}</span>
                            </td>
                            <td>
                                <span ng-if="match.CompetitionName">{{ match.CompetitionName }}</span>
                                <span ng-if="match.CupName">{{ match.CupName }}</span>
                                <span ng-if="match.FinalDayCompetitionId">Finaltag</span>
                            </td>

                            <td colspan="3" ng-if="!ctrl.isMatchPlayed(match) && !ctrl.isBookedMatch(match) && !match.IsNotPlayedMatch"><span class="badge">Offen</span></td>
                            <td colspan="3" ng-if="match.IsNotPlayedMatch"><span class="badge alert-warning">Nicht gespielt</span></td>
                            <td colspan="3" ng-if="ctrl.isBookedMatch(match)"><span class="badge">Abgemacht</span></td>

                            <td ng-if="ctrl.isMatchPlayed(match)">
                                <span ng-if="match.BarName && !ctrl.isForfaitMatch(match)">{{ match.BarName }}, {{match.PlayDate | date:'dd.MM.yyyy HH:mm'}}</span>
                                <span ng-if="ctrl.isForfaitMatch(match)" class="badge alert-info">Forfait</span>
                            </td>
                            <td ng-if="ctrl.isMatchPlayed(match) && ctrl.isHomeMatch(match)"><span class="pull-right" style="margin-right: 4px">{{match.HomeTeamScore}}:{{match.GuestTeamScore}}</span></td>
                            <td ng-if="ctrl.isMatchPlayed(match) && !ctrl.isHomeMatch(match)"><span class="pull-right" style="margin-right: 4px">{{match.GuestTeamScore}}:{{match.HomeTeamScore}}</span></td>
                            <td ng-if="ctrl.isMatchPlayed(match) && ctrl.isWin(match)"><span class="badge alert-success">win</span></td>
                            <td ng-if="ctrl.isMatchPlayed(match) && ctrl.isDraw(match)"><span class="badge alert-warning">draw</span></td>
                            <td ng-if="ctrl.isMatchPlayed(match) && ctrl.isLoss(match)"><span class="badge alert-danger">loss</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
