<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>fordere.ch - Bar-foos-league</title>
    <meta name="description" content="fordere.ch - Bar-foos-league - Tischfussball Liga Zürich">
    <meta name="author" content="ozu/ssh">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Main Style -->
    <link rel="stylesheet" href="style.css">

    <!-- Skins -->
    <link rel="stylesheet" href="css/skins/blue.css">

    <!-- Responsive Style -->
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.png">

</head>

<body>

    <div class="loader">
        <div class="loader_html"></div>
    </div>

    <div id="wrap" class="grid_1200">

        <div class="login-panel">
            <section class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="page-content">
                            <h2>Login</h2>
                            <div class="form-style form-style-3">
                                <form>
                                    <div class="form-inputs clearfix">
                                        <p class="login-text">
                                            <input type="text" value="Username" onfocus="if (this.value == 'Username') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Username';}">
                                            <i class="icon-user"></i>
                                        </p>
                                        <p class="login-password">
                                            <input type="password" value="Password" onfocus="if (this.value == 'Password') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Password';}">
                                            <i class="icon-lock"></i>
                                            <a href="#">Forget</a>
                                        </p>
                                    </div>
                                    <p class="form-submit login-submit">
                                        <input type="submit" value="Log in" class="button color small login-submit submit">
                                    </p>
                                    <div class="rememberme">
                                        <label>
                                            <input type="checkbox" checked="checked">Remember Me</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End page-content -->
                    </div>
                    <!-- End col-md-6 -->
                    <div class="col-md-6">
                        <div class="page-content Register">
                            <h2>Register Now</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravdio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequa. Vivamus vulputate posuere nisl quis consequat.</p>
                            <a class="button color small signup">Create an account</a>
                        </div>
                        <!-- End page-content -->
                    </div>
                    <!-- End col-md-6 -->
                </div>
            </section>
        </div>
        <!-- End login-panel -->

        <div class="panel-pop" id="signup">
            <h2>Register Now<i class="icon-remove"></i></h2>
            <div class="form-style form-style-3">
                <form>
                    <div class="form-inputs clearfix">
                        <p>
                            <label class="required">Username<span>*</span>
                            </label>
                            <input type="text">
                        </p>
                        <p>
                            <label class="required">E-Mail<span>*</span>
                            </label>
                            <input type="email">
                        </p>
                        <p>
                            <label class="required">Password<span>*</span>
                            </label>
                            <input type="password" value="">
                        </p>
                        <p>
                            <label class="required">Confirm Password<span>*</span>
                            </label>
                            <input type="password" value="">
                        </p>
                    </div>
                    <p class="form-submit">
                        <input type="submit" value="Signup" class="button color small submit">
                    </p>
                </form>
            </div>
        </div>
        <!-- End signup -->

        <div class="panel-pop" id="lost-password">
            <h2>Lost Password<i class="icon-remove"></i></h2>
            <div class="form-style form-style-3">
                <p>Lost your password? Please enter your username and email address. You will receive a link to create a new password via email.</p>
                <form>
                    <div class="form-inputs clearfix">
                        <p>
                            <label class="required">Username<span>*</span>
                            </label>
                            <input type="text">
                        </p>
                        <p>
                            <label class="required">E-Mail<span>*</span>
                            </label>
                            <input type="email">
                        </p>
                    </div>
                    <p class="form-submit">
                        <input type="submit" value="Reset" class="button color small submit">
                    </p>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- End lost-password -->

        <div id="header-top">
            <section class="container clearfix">
                <nav class="header-top-nav">
                    <ul>
                        <li><a href="login.html" id="login-panel"><i class="icon-user"></i>Login</a>
                        </li>
                    </ul>
                </nav>
            </section>
            <!-- End container -->
        </div>
        <!-- End header-top -->
        <header id="header">
            <section class="container clearfix">
                <div class="logo">
                    <a href="index.html">
                        <img alt="" src="images/logo.png">
                    </a>
                </div>
                <nav class="navigation">
                    <ul>
                        <li class="current_page_item"><a href="index.html">Home</a>
                        </li>
                        <li class="ask_question"><a href="ask_question.html">Aktuelle Saison</a>
                        </li>
                        <li><a href="cat_question.html">Verein</a>
                            <ul>
                                <li><a href="cat_question.html">Organe</a>
                                </li>
                                <li><a href="single_question.html">Organigramm</a>
                                </li>
                                <li><a href="single_question_poll.html">Statuten</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="fordere_bars.html">Bars</a>
                        </li>
                        <li><a href="blog_1.html">Forum</a>
                            <ul>
                                <li><a href="blog_1.html">Blog 1</a>
                                    <ul>
                                        <li><a href="blog_1.html">Right sidebar</a>
                                        </li>
                                        <li><a href="blog_1_l_sidebar.html">Left sidebar</a>
                                        </li>
                                        <li><a href="blog_1_full_width.html">Full Width</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="blog_2.html">Blog 2</a>
                                    <ul>
                                        <li><a href="blog_2.html">Right sidebar</a>
                                        </li>
                                        <li><a href="blog_2_l_sidebar.html">Left sidebar</a>
                                        </li>
                                        <li><a href="blog_2_full_width.html">Full Width</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="single_post.html">Post Single</a>
                                    <ul>
                                        <li><a href="single_post.html">Right sidebar</a>
                                        </li>
                                        <li><a href="single_post_l_sidebar.html">Left sidebar</a>
                                        </li>
                                        <li><a href="single_post_full_width.html">Full Width</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="right_sidebar.html">Galerie</a>
                            <ul>
                                <li><a href="login.html">Login</a>
                                </li>
                                <li><a href="contact_us.html">Contact Us</a>
                                </li>
                                <li><a href="ask_question.html">Ask Question</a>
                                </li>
                                <li><a href="right_sidebar.html">Right Sidebar</a>
                                </li>
                                <li><a href="left_sidebar.html">Left Sidebar</a>
                                </li>
                                <li><a href="full_width.html">Full Width</a>
                                </li>
                                <li><a href="404.html">404</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="fordere_faq.html">FAQ</a>
                        <li><a href="shortcodes.html">Archiv</a>
                        </li>

                    </ul>
                </nav>
            </section>
            <!-- End container -->
        </header>
        <!-- End header -->

        <div class="breadcrumbs">
            <section class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Tischfussball-Liga Zürich</h1>
                    </div>
                    <div class="col-md-12">
                        <div class="crumbs">
                            <a href="#">Home</a>

                        </div>
                    </div>
                </div>
                <!-- End row -->
            </section>
            <!-- End container -->
        </div>
        <!-- End breadcrumbs -->

        <section class="container main-content">
            <div class="row">
                <div class="col-md-8">
                    <article class="question question-type-normal">
                        <h2>Abgemachte Spiele</h2>
                        <h3 class="fordere-booked-game-title">Freitag, 02.10.2014 (Heute)</h3>
                        <ul>
                            <li>
                                <div class="row fordere-game-row">
                                    <div class="col-md-1">19:00</div>
                                    <div class="col-md-2">Sansibar</div>
                                    <div class="col-md-8">Ranomizer vs. Hixgi Häxgi</div>
                                    <div class="col-md-1"><a href="#">Details</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row fordere-game-row">
                                    <div class="col-md-1">19:30</div>
                                    <div class="col-md-2">Coyote Bar</div>
                                    <div class="col-md-8">Tätsch Bäng Meräng vs. Die Kneipenkicker</div>
                                    <div class="col-md-1"><a href="#">Details</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row fordere-game-row">
                                    <div class="col-md-1">19:00</div>
                                    <div class="col-md-2">Sansibar</div>
                                    <div class="col-md-8">Insulin vs. Bun di que la chi bund la</div>
                                    <div class="col-md-1"><a href="#">Details</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h3 class="fordere-booked-game-title">Montag, 05.10.2014</h3>
                        <ul>
                            <li>
                                <div class="row fordere-game-row">
                                    <div class="col-md-1">19:00</div>
                                    <div class="col-md-2">Sansibar</div>
                                    <div class="col-md-8">Ranomizer vs. Hixgi Häxgi</div>
                                    <div class="col-md-1"><a href="#">Details</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row fordere-game-row">
                                    <div class="col-md-1">19:30</div>
                                    <div class="col-md-2">Coyote Bar</div>
                                    <div class="col-md-8">Tätsch Bäng Meräng vs. Die Kneipenkicker</div>
                                    <div class="col-md-1"><a href="#">Details</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row fordere-game-row">
                                    <div class="col-md-1">19:00</div>
                                    <div class="col-md-2">Sansibar</div>
                                    <div class="col-md-8">Insulin vs. Bun di que la chi bund la</div>
                                    <div class="col-md-1"><a href="#">Details</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </article>
                    <article class="question question-type-normal">
                        <h2>Zuletzt gespielte Spiele</h2>
                        <h3 class="fordere-booked-game-title">Freitag, 02.10.2014 (Heute)</h3>
                        <ul>
                            <li>
                                <div class="row fordere-game-row">
                                    <div class="col-md-1">19:00</div>
                                    <div class="col-md-2">Sansibar</div>
                                    <div class="col-md-3" align="right">Randomizer</div>
                                    <div class="col-md-1" align="center">3:1</div>
                                    <div class="col-md-3" align="left">Di Unschlagbaren</div>
                                    <div class="col-md-2" align="right"><a href="#">Details</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row fordere-game-row">
                                    <div class="col-md-1">18:00</div>
                                    <div class="col-md-2">TFCZ</div>
                                    <div class="col-md-3" align="right">Randomizer</div>
                                    <div class="col-md-1" align="center">4:0</div>
                                    <div class="col-md-3" align="left">Tischfussballleure</div>
                                    <div class="col-md-2" align="right"><a href="#">Details</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </article>
                </div>
                <!-- End main -->
                <aside class="col-md-4 sidebar">
                    <div class="widget">
                        <h3 class="widget_title">News</h3>
                        <ul>
                            <li>
                                <strong>
								<span>Saisonbeginn</span><br>
								
							</strong><span>Die nächste Saison steht kurz bevor. Suchst du noch einen Partner oder bist du bereit?</span>
                                <br />
                                <small>05.11.2014</small>
                            </li>
                            <li>
                                <strong>
								<span>Neue Webseite</span><br>
								
							</strong>
                                <span>Neue Saison, neuer Webauftritt! Schaue und staune, fordere.ch wird modern :-)</span>
                                <br />
                                <small>22.10.2014</small>

                            </li>
                            <li>
                                <strong>
								<span>Finaltag Location</span><br>
								
							</strong>
                                <span>Bereits jetzt konnten wird für den Finaltag 2015 wieder das GZ Heuried für uns gewinnen. Freut euch also bereits jetzt auf spannende Spiele und feines Essen vom Grill und reserviert euch das entsprechende Datum.</span>
                                <br />
                                <small>01.10.2014</small>

                            </li>
                        </ul>
                    </div>
                    <div class="widget widget_social">
                        <h3 class="widget_title">Find Us</h3>
                        <ul>
                            <li class="facebook-fans">
                                <a href="#" target="_blank">
                                    <strong>
								<i class="social_icon-facebook"></i>
								<span>5,000</span><br>
								<small>People like it</small>
							</strong>
                                </a>
                            </li>
                            <li class="twitter-followers">
                                <a href="#" target="_blank">
                                    <strong>
								<i class="social_icon-twitter"></i>
								<span>3,000</span><br>
								<small>Followers</small>
							</strong>
                                </a>
                            </li>
                            <li class="youtube-subs">
                                <a href="#" target="_blank">
                                    <strong>
								<i class="icon-play"></i>
								<span>1,000</span><br>
								<small>Subscribers</small>
							</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <!-- End sidebar -->
            </div>
            <!-- End row -->
        </section>
        <!-- End container -->

        <footer id="footer">
            <section class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget widget_contact">
                            <h3 class="widget_title">&Uuml;ber fordere.ch</h3>
                            <p>Die Bar-foos-league ist Zürichs offizielle Tischfussball-Liga. Zwischen Dezember und Juli spielen über 100 Teams in verschiedenen Stäreklassen um Ruhm und Ehre.</p>

                        </div>
                    </div>


                </div>
                <!-- End row -->
            </section>
            <!-- End container -->
        </footer>
        <!-- End footer -->
        <footer id="footer-bottom">
            <section class="container">
                <div class="copyrights f_left">Copyright 2014 fordere.ch</div>
            </section>
            <!-- End container -->
        </footer>
        <!-- End footer-bottom -->
    </div>
    <!-- End wrap -->

    <div class="go-up"><i class="icon-chevron-up"></i>
    </div>

    <!-- js -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.easing.1.3.min.js"></script>
    <script src="js/html5.js"></script>
    <script src="js/twitter/jquery.tweet.js"></script>
    <script src="js/jflickrfeed.min.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/jquery.tipsy.js"></script>
    <script src="js/tabs.js"></script>
    <script src="js/jquery.flexslider.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="js/jquery.scrollTo.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/tags.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- End js -->

</body>

</html>