<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Ask me – Responsive Questions and Answers Template</title>
    <meta name="description" content="Ask me Responsive Questions and Answers Template">
    <meta name="author" content="vbegy">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Main Style -->
    <link rel="stylesheet" href="style.css">

    <!-- Skins -->
    <link rel="stylesheet" href="css/skins/blue.css">

    <!-- Responsive Style -->
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.png">

</head>

<body>

    <div class="loader">
        <div class="loader_html"></div>
    </div>

    <div id="wrap" class="grid_1200">

        <div class="login-panel">
            <section class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="page-content">
                            <h2>Login</h2>
                            <div class="form-style form-style-3">
                                <form>
                                    <div class="form-inputs clearfix">
                                        <p class="login-text">
                                            <input type="text" value="Username" onfocus="if (this.value == 'Username') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Username';}">
                                            <i class="icon-user"></i>
                                        </p>
                                        <p class="login-password">
                                            <input type="password" value="Password" onfocus="if (this.value == 'Password') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Password';}">
                                            <i class="icon-lock"></i>
                                            <a href="#">Forget</a>
                                        </p>
                                    </div>
                                    <p class="form-submit login-submit">
                                        <input type="submit" value="Log in" class="button color small login-submit submit">
                                    </p>
                                    <div class="rememberme">
                                        <label>
                                            <input type="checkbox" checked="checked">Remember Me</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End page-content -->
                    </div>
                    <!-- End col-md-6 -->
                    <div class="col-md-6">
                        <div class="page-content Register">
                            <h2>Register Now</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravdio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequa. Vivamus vulputate posuere nisl quis consequat.</p>
                            <a class="button color small signup">Create an account</a>
                        </div>
                        <!-- End page-content -->
                    </div>
                    <!-- End col-md-6 -->
                </div>
            </section>
        </div>
        <!-- End login-panel -->

        <div class="panel-pop" id="signup">
            <h2>Register Now<i class="icon-remove"></i></h2>
            <div class="form-style form-style-3">
                <form>
                    <div class="form-inputs clearfix">
                        <p>
                            <label class="required">Username<span>*</span>
                            </label>
                            <input type="text">
                        </p>
                        <p>
                            <label class="required">E-Mail<span>*</span>
                            </label>
                            <input type="email">
                        </p>
                        <p>
                            <label class="required">Password<span>*</span>
                            </label>
                            <input type="password" value="">
                        </p>
                        <p>
                            <label class="required">Confirm Password<span>*</span>
                            </label>
                            <input type="password" value="">
                        </p>
                    </div>
                    <p class="form-submit">
                        <input type="submit" value="Signup" class="button color small submit">
                    </p>
                </form>
            </div>
        </div>
        <!-- End signup -->

        <div class="panel-pop" id="lost-password">
            <h2>Lost Password<i class="icon-remove"></i></h2>
            <div class="form-style form-style-3">
                <p>Lost your password? Please enter your username and email address. You will receive a link to create a new password via email.</p>
                <form>
                    <div class="form-inputs clearfix">
                        <p>
                            <label class="required">Username<span>*</span>
                            </label>
                            <input type="text">
                        </p>
                        <p>
                            <label class="required">E-Mail<span>*</span>
                            </label>
                            <input type="email">
                        </p>
                    </div>
                    <p class="form-submit">
                        <input type="submit" value="Reset" class="button color small submit">
                    </p>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- End lost-password -->

                <div id="header-top">
            <section class="container clearfix">
                <nav class="header-top-nav">
                    <ul>
                        <li><a href="login.html" id="login-panel"><i class="icon-user"></i>Login</a>
                        </li>
                    </ul>
                </nav>
            </section>
            <!-- End container -->
        </div>
        <!-- End header-top -->
        <header id="header">
            <section class="container clearfix">
                <div class="logo">
                    <a href="index.html">
                        <img alt="" src="images/logo.png">
                    </a>
                </div>
                <nav class="navigation">
                    <ul>
                        <li><a href="fordere_index.html">Home</a>
                        </li>
                        <li class="ask_question"><a href="ask_question.html">Aktuelle Saison</a>
                        </li>
                        <li><a href="cat_question.html">Verein</a>
                            <ul>
                                <li><a href="cat_question.html">Organe</a>
                                </li>
                                <li><a href="single_question.html">Organigramm</a>
                                </li>
                                <li><a href="single_question_poll.html">Statuten</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="fordere_bars.html">Bars</a>
                        </li>
                        <li><a href="blog_1.html">Forum</a>
                            <ul>
                                <li><a href="blog_1.html">Blog 1</a>
                                    <ul>
                                        <li><a href="blog_1.html">Right sidebar</a>
                                        </li>
                                        <li><a href="blog_1_l_sidebar.html">Left sidebar</a>
                                        </li>
                                        <li><a href="blog_1_full_width.html">Full Width</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="blog_2.html">Blog 2</a>
                                    <ul>
                                        <li><a href="blog_2.html">Right sidebar</a>
                                        </li>
                                        <li><a href="blog_2_l_sidebar.html">Left sidebar</a>
                                        </li>
                                        <li><a href="blog_2_full_width.html">Full Width</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="single_post.html">Post Single</a>
                                    <ul>
                                        <li><a href="single_post.html">Right sidebar</a>
                                        </li>
                                        <li><a href="single_post_l_sidebar.html">Left sidebar</a>
                                        </li>
                                        <li><a href="single_post_full_width.html">Full Width</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="right_sidebar.html">Galerie</a>
                            <ul>
                                <li><a href="login.html">Login</a>
                                </li>
                                <li><a href="contact_us.html">Contact Us</a>
                                </li>
                                <li><a href="ask_question.html">Ask Question</a>
                                </li>
                                <li><a href="right_sidebar.html">Right Sidebar</a>
                                </li>
                                <li><a href="left_sidebar.html">Left Sidebar</a>
                                </li>
                                <li><a href="full_width.html">Full Width</a>
                                </li>
                                <li><a href="404.html">404</a>
                                </li>
                            </ul>
                        </li>
                        <li class="current_page_item"><a href="#">FAQ</a>
                        <li><a href="shortcodes.html">Archiv</a>
                        </li>

                    </ul>
                </nav>
            </section>
            <!-- End container -->
        </header>
        <!-- End header -->

        <div class="breadcrumbs">
            <section class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Tischfussball-Liga Zürich</h1>
                    </div>
                    <div class="col-md-12">
                        <div class="crumbs">
                            <a href="fordere_index.html">Home</a>
                        </div>
                    </div>
                </div>
                <!-- End row -->
            </section>
            <!-- End container -->
        </div>
        <!-- End breadcrumbs -->


        <section class="container main-content page-full-width">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-content page-shortcode">
                        <div class="boxedtitle page-title">
                            <h2>FAQ</h2>
                        </div>
                        <div class="accordion toggle-accordion">
                            <h4 class="accordion-title"><a href="#">Wie entstand die Bar-foos-league?</a></h4>
                            <div class="accordion-inner" style="display: none;">
                                Anfangs 2004 wurde die Bar-foos-league geboren. Die grundlegende Idee von Christian Haefeli und Divyam Täschler war, anhand einer Rangliste die Stärke der Töggeler in den verschiedenen Bars messen zu können. Nach einigen hitzigen Diskussionen entstand dann schliesslich die Idee der Bar-foos-league, (fast) wie sie heute noch existiert. Inzwischen ist die Liga ungeheuerlich gewachsen, weshalb die anfallenden Aufgaben zu zweit nicht mehr zu bewältigen waren. Deshalb ist fordere.ch inzwischen ein Verein mit vielen Helfern.
                            </div>
                            <h4 class="accordion-title"><a href="#">Wieso, für was und warum überhaupt die Bar-foos-league?</a></h4>
                            <div class="accordion-inner">
                                Die Bar-foos-league ist Zürichs offizielle Tischfussball-Liga. Sie bietet Teams (bestehend aus 2 Spielern) jeglicher Stärkeklassen aus verschiedenen Bars die Möglichkeit, sich mit Teams aus anderen Lokalitäten zu messen, wobei die Lokale sich im Kreis 1, 3, 4, 5 oder zumindest in deren Nähe befinden sollten (z.B. Sansibar, Tessinerkeller, Acapulco usw.). Die Teams sind für die Vereinbarung und Durchführung der Spiele sowie für das Eintragen der Resultate auf fordere.ch selbst verantwortlich. Letzte Saison kämpften über 90 Teams in ihren jeweiligen Stärkeklassen um Pokal und Ehre, diese Saison bereits 100!
                            </div>
                            <h4 class="accordion-title"><a href="#">Wie funktioniert die Bar-foos-league?</a></h4>
                            <div class="accordion-inner">
                                Eine Saison dauert ca. 6 Monate. In diesem Zeitraum werden die Finalisten der bar-foos-leage ermittelt. Anschliessend werden im Rahmen einer Abschlussparty (Finaltag) die Finale gespielt und die jeweiligen Liga-Sieger erkoren. Sobald die Saison begonnen hat können die Teams untereinander abmachen, wann und wo sie ein Spiel austragen möchten, und dies auch gleich online in den Kalender eintragen. Der Sieger einer Partie trägt das Ergebnis auf fordere.ch ein, damit die Tabelle immer aktuell ist. Gegen Saisonende zeichnet sich dann ab, wer sich für den Finaltag qualifiziert hat. (ca. 3/4 der Saisonteilnehmer kommen in den Finaltag!). Genaueres zum Spielmodus findest du hier.
                            </div>
                            <h4 class="accordion-title"><a href="#">Jöggelikästen und Bälle</a></h4>
                            <div class="accordion-inner">
                                Gespielt wird auf Garlando Tischen mit runden Füsschen (De Luxe und WorldChamp). Wie alt der Tisch ist, ist egal, schliesslich hat jeder einmal die Chance, den Spielort und somit den Tisch zu wählen. Wir haben versucht, nur Spiellokale zuzulassen, in welchen 'anständige' Tische stehen. In den offiziellen Lokalen wird auf gelben Bärenherzbällen gespielt. Spielorte, welche mit einem "*" gekennzeichnet sind, bedürfen der Zustimmung des jeweiligen Gastteams.
                            </div>
                            <h4 class="accordion-title"><a href="#">Der Jöggelikasten ist besetzt - was nun?</a></h4>
                            <div class="accordion-inner">
                                Bar-foos-league Spieler sind in den Spiellokalen 'ganz normale Jöggeler' und müssen sich hinten anstellen. Bitte respektiert die andern, die spielen wollen. Wählt am besten immer Uhrzeiten für eure Begegnungen, an denen sowieso keiner spielt. Zwischen 17.00 und 20.00 ist erfahrungsgemäss nicht soviel los an den Tischen. Kann kein geeigneter Zeitpunkt gefunden werden, sucht doch einen Tisch, der nicht so bevölkert ist.
                            </div>
                            <h4 class="accordion-title"><a href="#">Wie mache ich einen Spieltermin ab?</a></h4>
                            <div class="accordion-inner">
                                Das Heimteam nimmt jeweils via e-mail oder Handy Kontakt mit dem gegnerischen Teams auf, macht einen Terminvorschlag, und nennt das Spiellokal. Steht der Termin fest, trägt ihn das Heimteam im Spielplan ein. Ein Spiel muss, bevor es gespielt wird, im Spielplan eingetragen werden. So können alle, die möchten, zuschauen gehen. Bitte versucht Termine zu finden, an denen die Lokale in der Regel nicht überfüllt sind. Macht bitte in der Sansibar keine Termine nach 21 Uhr ab!
                            </div>
                            <h4 class="accordion-title"><a href="#">Was, wenn ich einen Termin nicht einhalten kann?</a></h4>
                            <div class="accordion-inner">
                                Falls euch einmal etwas bei einem Spieltermin dazwischen kommt, informiert bitte euer gegnerisches Team (oder gar euren Mitspieler) frühzeitig! Eine Terminabsage (bei eingetragenem Spiel im Spielplan) muss bis 12 Uhr mittags am Spieltag telefonisch beim gegnerischen Team bekanntgegeben werden. Sollte sich ein Team unentschuldigt massiv verspäten (ab 1 Stunde) oder gar nicht zum Termin erscheinen, bekommt das gegnerische Team automatisch Forfait. Um diesbezüglich Missverständnisse vorzubeugen, notiert euch, bevor ihr zum vereinbarten Spiel geht, die Handynummern eurer Gegner, so habt ihr jederzeit die Möglichkeit die "Penner" zu kontaktieren.Forfait-Siege werden NUR von der Ligaleitung eingetragen! Meldet Euch bitte bei eurem Ligacoach mit einem 'Forfait-Wunsch'.
                            </div>
                            <h4 class="accordion-title"><a href="#">Wer entscheidet im Falle von Streitigkeiten oder Uneinigkeiten?</a></h4>
                            <div class="accordion-inner">
                                Im Falle von Uneinigkeiten (z.B. über nicht gespielte Spiele - wer ist nun Schuld dass nicht gespielt wurde?) entscheidet die Rekurskommission über Ausschluss, Forfaits oder Nichtverteilung der Punkte. Ablauf: 1. Berichterstattung durch die Spieler an info@fordere.ch z.H. Sportchef 2. Weiterleitung an die Rekurskommission 3. Entscheid von der Rekurskommission wird via Sportchef den betroffenen Teams mitgeteilt Die Rekurskommission folgt bei ihren Entscheidungen folgenden Empfehlungen: 1. E-mails / Anrufe / SMS möglichst immer an beide Spieler; vom Empfänger wird eine rasche Antwort erwartet. 2. Bei eigenem Termindruck: e-mail senden, anrufen, aktiv sein, sich möglichst früh um die Spiele kümmern. 3. Grundsätzlich wird von Teams mit vergleichsweise wenig gespielten Spielen mehr Initiative und Flexibilität erwartet. 4. Sportliches Verhalten wird geschätzt.
                            </div>
                            <h4 class="accordion-title"><a href="#">Wozu all die Informationen über die Mitspieler</a></h4>
                            <div class="accordion-inner">
                                Interessante Informationen über alle mitspielenden Teams könnt ihr unter dem Menüpunkt 'Teams' abrufen. Zu jedem Mitspieler gibt es auch ein Foto, damit ihr euch am verabredeten Ort erkennen könnt. E-mail-Adresse und Telefonnummer (nur wenn eingeloggt sichtbar) sind dazu da, Spieltermine zu vereinbaren und vorallem auch um das gegnerische Team zu informieren, falls mal ein Termin ins Wasser fällt. Wer lieber über's Handy kontaktiert werden möchte, setzt in seinem Profil einen Stern (*) hinter die Nummer, damit die Gegner über diese bevorzugte Kontaktweise Bescheid wissen.
                            </div>
                            <h4 class="accordion-title"><a href="#">Wieviele Stärkeklassen gibt es?</a></h4>
                            <div class="accordion-inner">
                                Wieviele Ligen (Stärkeklassen) es in einer Saison gibt ist abhängig von der Anzahl Anmeldungen und wird jede Saison vom Vorstand neu entschieden.
                            </div>
                            <h4 class="accordion-title"><a href="#">Welche Hilfsmittel sind erlaubt?</a></h4>
                            <div class="accordion-inner">
                                Alle üblichen Hilfsmittel wie Gummis, Bänder, Handschuhe sind erlaubt.
                            </div>
                            <h4 class="accordion-title"><a href="#">Muss ich in meinem Heimlokal spielen?</a></h4>
                            <div class="accordion-inner">
                                Das übliche Heimlokal, das im Teamprofil eingetragen ist, ist rein informativ. Das Heimteam kann sich jederzeit und für jedes Spiel ein anderes Lokal aussuchen, sofern es sich um ein Lokal handelt, welches von der Bar-foos-league zugelassen ist. Siehe 'Spiellokale'.
                            </div>
                            <h4 class="accordion-title"><a href="#">Was kann ich gewinnen?</a></h4>
                            <div class="accordion-inner">
                                Ruhm und Ehre? :-) Die Mitgliederbeiträge werden ausschliesslich für die Preise und Bar-foos-league-Anlässe verwendet. Bis zu welchem Platz man etwas gewinnen kann und was es genau zu gewinnen gibt, ist jedes Jahr aufs neue eine Überraschung. Auf jeden Fall aber entsprechen die Preise dem Wert der eingenommenen Mitgliederbeiträge (abzüglich Auslagen die evt. für Events gemacht werden müssen). Sponsoren sind uns noch so willkommen!
                            </div>
                            <h4 class="accordion-title"><a href="#">Das Ergebnis wurde von den Gegner falsch eingetragen, was nun?</a></h4>
                            <div class="accordion-inner">
                                Wenn ihr der Meinung seid, ein Ergebnis wurde falsch eingetragen, sprecht bitte zuerst mit dem Team, das das Ergebnis eingetragen hat. Vermutlich handelt es sich ja nur um ein Versehen. Sollten sich die Teams uneinig sein, entscheidet die Rekurskommission, wie das Ergebnis aussieht oder/und ob das Spiel wiederholt wird.
                            </div>
                            <h4 class="accordion-title"><a href="#">Ergebnisse melden - wer und wie?</a></h4>
                            <div class="accordion-inner">
                                Der Sieger des Spiels trägt das Ergebnis auf der Webseite direkt im 'Abmachen' ein. Merken müsst ihr euch bloss, wieviele Sätze ihr gewonnen habt: Wenn ihr 4 Spiele gewonnen habt, sieht das Ergebnis so aus: Heim-Team 4, gegnerisches Team 0. Bei einer 1:3 Niederlage so: Heim-Team 1, gegnerisches Team 3. Das Ergebnis sollte innerhalb von 48 Stunden eingetragen werden, sonst besteht die Gefahr, dass Ergebnisse verloren/vergessen gehen. Achtung: Das Ergebnis kann aus Sicherheitsgründen nur einmal eingegeben werden, seid deshalb bitte sorgfältig. Wird ein Ergebnis falsch eingetragen, meldet bitte das korrekte Ergebnis sofort an info@fordere.ch, wir werden es dann korrigieren.
                            </div>
                            <h4 class="accordion-title"><a href="#">Wofür ist der Mitgliederbeitrag?</a></h4>
                            <div class="accordion-inner">
                                Zu Saisonbeginn bezahlt jedes Mitglied einen Mitgliederbeitrag von CHF 25.-, unabhängig davon an welche Disziplinen (nur Liga+Cup oder Liga+Cup plus Ullrich-Cup oder nur Ullrich-Cup) teilgenommen wird. Wir möchten aus der Liga keinen Gewinn schlagen, alles Geld wird für die Preise und Events der Bar-foos-league verwendet.
                            </div>
                            <h4 class="accordion-title"><a href="#">Ausstieg während der Saison</a></h4>
                            <div class="accordion-inner">
                                Der Ausstieg eines Teams während der Saison ist immer ein sehr grosser Verlust für die Liga. Deshalb bitten wir auch alle, VOR der Saison gut zu überlegen, ob man das ganze wirklich durchziehen kann und will (man MUSS z.B. davon ausgehen dass alle Spiele verloren werden. Wenn man sich mit diesem Gedanken nicht anfreunden kann, sollte man lieber auf's Mitmachen verzichten). Falls es doch für ein Team nicht möglich ist, weiterzuspielen, z.B. aufgrund einer Verletzung, gilt folgende Regelung: Bei einem Ausschluss/Ausstieg eines Teams (maximal 2 Forfaits möglich), werden alle bisherigen Resultate gestrichen und Forfait gewertet.
                            </div>
                            <h4 class="accordion-title"><a href="#">Was, wenn ich längere Zeit weg bin?</a></h4>
                            <div class="accordion-inner">
                                Es ist kein Problem, wenn ihr mal 1 oder sogar 2 Wochen nicht spielen könnt - die Spiele können vor- oder nachgeholt werden. Jedenfalls solltet ihr darauf achten, dass nicht gleich beide von eurem Team nacheinander 1-2 Wochen ausfallen, dann wird's nämlich langsam eng... Informiert doch euren Ligacoach und die Teams eurer Gruppe (im Spielplan ersichtlich) über längere Ausfälle.
                            </div>
                            <h4 class="accordion-title"><a href="#">Wie ist der Spielmodus?</a></h4>
                            <div class="accordion-inner">
                                Der Modus wird jede Saison vom Modus-Team neu erarbeitet.
                            </div>
                        </div>
                    </div>
                    <!-- End page-content -->
                </div>
            </div>
            <!-- End row -->
        </section>
        <!-- End container -->

        <footer id="footer">
            <section class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget widget_contact">
                            <h3 class="widget_title">Where We Are ?</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu.</p>
                            <ul>
                                <li>
                                    <span>Address :</span>
                                    Ask Me Network, 33 Street, syada Zeinab, Cairo, Egypt.
                                </li>
                                <li>
                                    <span>Support :</span>Support Telephone No : (+2)01111011110
                                </li>
                                <li>Support Email Account : info@example.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="widget">
                            <h3 class="widget_title">Quick Links</h3>
                            <ul>
                                <li><a href="fordere_index.html">Home</a>
                                </li>
                                <li><a href="ask_question.html">Ask Question</a>
                                </li>
                                <li><a href="#">About</a>
                                </li>
                                <li><a href="cat_question.html">Questions</a>
                                </li>
                                <li><a href="user_profile.html">Users</a>
                                </li>
                                <li><a href="blog_1.html">Blog</a>
                                </li>
                                <li><a href="right_sidebar.html">Pages</a>
                                </li>
                                <li><a href="shortcodes.html">Shortcodes</a>
                                </li>
                                <li><a href="contact_us.html">Contact Us</a>
                                </li>
                                <li><a href="#">FAQs</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <h3 class="widget_title">Popular Questions</h3>
                            <ul class="related-posts">
                                <li class="related-item">
                                    <h3><a href="#">This is my first Question</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                                    <div class="clear"></div><span>Feb 22, 2014</span>
                                </li>
                                <li class="related-item">
                                    <h3><a href="#">This Is My Second Poll Question</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                                    <div class="clear"></div><span>Feb 22, 2014</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget widget_twitter">
                            <h3 class="widget_title">Latest Tweets</h3>
                            <div class="tweet_1"></div>
                        </div>
                    </div>
                </div>
                <!-- End row -->
            </section>
            <!-- End container -->
        </footer>
        <!-- End footer -->
        <footer id="footer-bottom">
            <section class="container">
                <div class="copyrights f_left">Copyright 2014 Ask me | <a href="#">By 2code</a>
                </div>
                <div class="social_icons f_right">
                    <ul>
                        <li class="twitter"><a original-title="Twitter" class="tooltip-n" href="#"><i class="social_icon-twitter font17"></i></a>
                        </li>
                        <li class="facebook"><a original-title="Facebook" class="tooltip-n" href="#"><i class="social_icon-facebook font17"></i></a>
                        </li>
                        <li class="gplus"><a original-title="Google plus" class="tooltip-n" href="#"><i class="social_icon-gplus font17"></i></a>
                        </li>
                        <li class="youtube"><a original-title="Youtube" class="tooltip-n" href="#"><i class="social_icon-youtube font17"></i></a>
                        </li>
                        <li class="skype"><a original-title="Skype" class="tooltip-n" href="skype:#?call"><i class="social_icon-skype font17"></i></a>
                        </li>
                        <li class="flickr"><a original-title="Flickr" class="tooltip-n" href="#"><i class="social_icon-flickr font17"></i></a>
                        </li>
                        <li class="rss"><a original-title="Rss" class="tooltip-n" href="#"><i class="social_icon-rss font17"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- End social_icons -->
            </section>
            <!-- End container -->
        </footer>
        <!-- End footer-bottom -->
    </div>
    <!-- End wrap -->

    <div class="go-up"><i class="icon-chevron-up"></i>
    </div>

    <!-- js -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.easing.1.3.min.js"></script>
    <script src="js/html5.js"></script>
    <script src="js/twitter/jquery.tweet.js"></script>
    <script src="js/jflickrfeed.min.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/jquery.tipsy.js"></script>
    <script src="js/tabs.js"></script>
    <script src="js/jquery.flexslider.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="js/jquery.scrollTo.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/tags.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- End js -->

</body>

</html>