<div class="col-md-9" ng-controller="newPasswordCtrl as ctrl">
  <div class="page-content">
    <div class="boxedtitle page-title"><h2>Neues Passwort</h2></div>

    <div class="form-style form-style-4">
        <div class="form-inputs clearfix">
          <p>
            <label class="required">Passwort <span>*</span></label>
            <input type="password" ng-model="ctrl.password1" required>
          </p>
          <p>
            <label class="required">Wiederholen <span>*</span></label>
            <input type="password" ng-model="ctrl.password2" required>
          </p>
        </div>
        <p class="form-submit">
          <button type="button" value="Abschicken" ng-click="ctrl.setNewPassword()" class="button color small login-submit submit">Abschicken</button>
        </p>
    </div>
  </div>
</div>