<div class="row" ng-controller="fordere.barCtrl as ctrl">
    <div class="col-md-12" ng-show="ctrl.bars && ctrl.bars.length > 0">

        <div class="page-content page-shortcode">
            <div class="boxedtitle page-title">
                <h2>Unsere Partnerbars</h2>
            </div>
            <div class="fordere-barmap">
                <leaflet id="map-marker" markers="ctrl.barMarker" style="height: 100%"></leaflet>
            </div>
        </div>
    </div>

    <div class="col-md-4" ng-repeat="bar in ctrl.bars">
        <div class="page-content page-shortcode">
            <div class="boxedtitle page-title">
                <h2>{{bar.Name}}</h2>
            </div>

            {{bar.Adresse}}<br />
            <a href="{{bar.Url}}" target="_blank" ng-if="bar.Url">Webseite</a>
        </div>
    </div>

    <p class="alert alert-info" ng-if="ctrl.bars && ctrl.bars.length === 0">Daran arbeiten wir noch :-)</p>
</div>