<div class="row" ng-controller="fordere.homeCtrl as ctrl">

    <div ng-if="ctrl.isAuthenticated">
        <div class="col-md-4 col-sm-12"><a class="admin-dashboard-item" href="/admin/news">News</a></div>
        <div class="col-md-4 col-sm-12"><a class="admin-dashboard-item" href="/admin/users">Benutzer</a></div>
        <div class="col-md-4 col-sm-12"><a class="admin-dashboard-item" href="/admin/bars">Bars</a></div>
        <div class="col-md-4 col-sm-12"><a class="admin-dashboard-item" href="/admin/mailinglist">Mailing Lists</a>
        </div>
        <div class="col-md-4 col-sm-12"><a class="admin-dashboard-item" href="/admin/seasons">Spielbetrieb</a></div>
    </div>
    <div ng-if="!ctrl.isAuthenticated">
        Login here
    </div>
</div>
