<div class="row" ng-controller="fordere.admin.cupDetailCtrl as ctrl">
  <div class="col-lg-12">
    <div class="page-content">
      <div class="boxedtitle page-title">
        <h2>Cup Detail</h2>
      </div>

      <div class="pull-right" ng-if="ctrl.cup.CurrentRound == 0">
        <div class="form-group">
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Cup mit Liga Starten <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="competition in ctrl.competitions"><a href="javascript: void(0)" ng-click="ctrl.startCup(competition.Id)">{{ competition.Name }}</a></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="pull-right" ng-if="ctrl.cup.CurrentRound !== 0">
        <div class="form-group">
          <button type="button" class="btn btn-sm btn-primary" ng-click="ctrl.startNextRound()">Nächste Runde Starten</button>
        </div>
      </div>
      
      <div class="clearfix"></div>

      <div class="form-group">
        <div class="row">
          <div class="col-xs-6 col-md-4 pull-left">
            <div class="input-group">
              <input class="form-control input-sm" type="text" placeholder="Suchen..." ng-model="searchText.$" ng-debounce="250">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
            </div>
          </div>
          <div class="col-xs-6 pull-right">
            <pagination style="margin: 0;" total-items="ctrl.cup.CurrentRound" ng-model="ctrl.displayRound" items-per-page="1" ng-change="ctrl.fetchCupMatches()" class="pagination-sm"></pagination>
          </div>
        </div>
        <div class="row margin_t_25">
          <div class="col-md-12">
            <div>
              <progressbar class="progress-striped active" max="100" value="ctrl.getPlayedPercentage()" type="warning"><i>{{ ctrl.getPlayedCount() }} / {{ ctrl.getTotalGamesCount() }}</i></progressbar>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-responsive table-striped table-hover table-condensed">
          <thead>
            <tr>
              <th>Heimteam</th>
              <th>Gastteam</th>
              <th>Resultat</th>
              <th>Spieltermin</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="match in ctrl.matches | filter:searchText:strict" ng-cloak>
              <td>{{ match.HomeTeamName }}</td>
              <td>{{ match.GuestTeamName }}</td>
              <td>{{ match.HomeTeamScore || 0 }} : {{ match.GuestTeamScore || 0 }}</td>
              <td>{{ match.PlayDate | date : 'dd.MM.yyyy HH:mm' }}</td>
              <td><button class="btn btn-primary btn-xs pull-right" ng-click="ctrl.editMatch(match)">Bearbeiten</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="editMatch" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schliessen</span></button>
          <h4 class="modal-title" id="myModalLabel">Spiel bearbeiten</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-xs-6 form-group">
              <label>{{ ctrl.editingMatch.HomeTeamName }}</label>
              <input class="form-control" type="number" min="0" max="10" ng-model="ctrl.editingMatch.HomeTeamScore" />
            </div>
            <div class="col-xs-6 form-group">
              <label>{{ ctrl.editingMatch.GuestTeamName }}</label>
              <input class="form-control" type="number" min="0" max="10" ng-model="ctrl.editingMatch.GuestTeamScore" />
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="ctrl.cancelEditMatch()">Schliessen</button>
          <button type="button" class="btn btn-primary" ng-click="ctrl.saveMatch()">Speichern</button>
        </div>
      </div>
    </div>
  </div>

</div>
