<div ng-include="'app/ui/liga/leagueNavigation.html'"></div>

<div class="row">
    <div class="col-lg-12">
        <div class="page-content">
            <div class="boxedtitle page-title">
                <h2>Qualifikation Finaltag</h2>
            </div>

            <p class="alert alert-info">Die Teams werden am Finaltag gem&auml;ss der Tabelle der Vorrunde gesetzt. Sollte ein Team verhindert sein r&uuml;ckt entsprechend das n&auml;chste Team der Liga nach (Gruppen&uuml;bergreiffend). </p>

          <!--  <p class="alert alert-info"><strong>Eine Erl&auml;uterungen zu den Entscheidungen der Rekurskommission findet ihr <a href="/assets/downloads/entscheide-rekurs.pdf" target="_blank">hier</a></strong></p>-->

            <div ng-repeat="league in ctrl.competition.Leagues">
                <h3 id="league-1">{{ league.Number }}. Liga <small ng-if="league.Group">Gruppe {{ league.Group }}</small></h3>
                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th class="col-md-6">Team</th>
                                <th class="col-md-2">Qualifikation</th>
                                <th class="col-md-4">Anmerkung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class="{ danger: $index > (league.TableEntries.length * 0.75) }" ng-repeat="tableEntry in league.TableEntries">
                                <td><a href="/teams/{{ tableEntry.TeamId }}">{{ tableEntry.TeamName }}</a></td>
                                <td>
                                    <i class="badge alert-success" ng-if="tableEntry.QualifiedForFinalDay === 'Yes' && !tableEntry.IsTeamForfaitOut">Ja</i>
                                    <i class="badge alert-danger" ng-if="tableEntry.QualifiedForFinalDay === 'No' && !tableEntry.IsTeamForfaitOut">Nein</i>
                                    <i class="badge alert-danger" ng-if="tableEntry.IsTeamForfaitOut">Forfait</i>
                                    <i class="badge alert-info" ng-if="tableEntry.QualifiedForFinalDay === 'Undefined' && !tableEntry.IsTeamForfaitOut">Offen</i>
                                </td>
                                <td>{{tableEntry.QualifiedForFinalDayComment}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
