<div ng-controller="fordere.matchDetailCtrl as ctrl">

  <div class="row">
    <div class="col-md-12">
      <div class="page-content">
        <div class="col-lg-5 text-right hidden-xs hidden-md hidden-sm"><h2>{{ctrl.match.HomeTeamName}}</h2></div>
        <div class="col-lg-5 text-center hidden-lg"><h2>{{ctrl.match.HomeTeamName}}</h2></div>
        <div class="col-lg-2 text-center"><h2>{{ctrl.getResult()}}</h2></div>
        <div class="col-lg-5 hidden-xs hidden-md hidden-sm"><h2>{{ctrl.match.GuestTeamName}}</h2></div>
        <div class="col-lg-5 text-center hidden-lg"><h2>{{ctrl.match.GuestTeamName}}</h2></div>
        <div class="col-lg-12 text-center" ng-show="ctrl.isRegistered()"><small>{{ctrl.match.BarName}}, {{ctrl.match.PlayDate | date:'dd.MM.yy HH:mm' : 'UTC'}}</small></div>
        <div class="col-lg-12 text-center" ng-show="ctrl.isRegistered()"><small>Eingetragen am: {{ctrl.match.RegisterDate | date:'dd.MM.yy HH:mm'}}</small></div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6 ">
      <div class="page-content">
        <div class="boxedtitle page-title"><h2>{{ctrl.match.HomeTeamName}}</h2></div>

        <div ng-repeat="user in ctrl.hometeam.Users" class="row">
          <div class="col-lg-12">
            <h4>{{user.Name}}</h4>
            <div class="user-profile-img" ng-show="user.Image">
              <img src="//placehold.it/60x60/FFF/444" />
            </div>
            <div class="user-profile-img" ng-hide="user.image">
              <div style="background: #dedede; height:80px; width:80px; text-align: center; vertical-align: middle; display: table-cell; width: 80px">Kein Bild vorhanden</div>
            </div>
            <div class="ul_list about-user">
              <ul>
                <li>
                  <i class="fa fa-star-o"></i>Beitritt: <span>{{user.CreatedDate | date:'dd MMMM yyyy'}}</span>
                </li>
                <li ng-if="user.Email">
                  <i class="fa fa-envelope-o"></i>E-Mail: <a href="mailto:{{user.EMail}}">{{user.Email}}</a>
                </li>
                <li ng-if="user.PhoneNumber">
                  <i class="fa fa-phone"></i>Telefon: <span>{{user.PhoneNumber}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="page-content">
        <div class="boxedtitle page-title"><h2>{{ctrl.match.GuestTeamName}}</h2></div>

        <div ng-repeat="user in ctrl.guestteam.Users" class="row">
          <div class="col-lg-12">
            <h4>{{user.Name}}</h4>
            <div class="user-profile-img" ng-show="user.Image">
              <img src="//placehold.it/60x60/FFF/444" />
            </div>
            <div class="user-profile-img" ng-hide="user.image">
              <div style="background: #dedede; height:80px; width:80px; text-align: center; vertical-align: middle; display: table-cell; width: 80px">Kein Bild vorhanden</div>
            </div>
            <div class="ul_list about-user">
              <ul>
                <li>
                  <i class="fa fa-star-o"></i>Beitritt: <span>{{user.CreatedDate | date:'dd MMMM yyyy'}}</span>
                </li>
                <li ng-if="user.Email">
                  <i class="fa fa-envelope-o"></i>E-Mail: <a href="mailto:{{user.EMail}}">{{user.Email}}</a>
                </li>
                <li ng-if="user.PhoneNumber">
                  <i class="fa fa-phone"></i>Telefon: <span>{{user.PhoneNumber}}</span>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
