<div class="row" ng-controller="fordere.passwordLostCtrl as ctrl">
  <div class="col-md-8">
    <div class="page-content">
      <div class="boxedtitle page-title"><h2>Passwort vergessen</h2></div>

      <div class="alert alert-success" ng-show="ctrl.passwordRecoveryMailSent">
        <b>Mail gesendet!</b><br />
        Ein E-Mail mit weiteren Informationen wurde an dich gesendet!

      </div>

      <div class="alert alert-danger" ng-show="ctrl.couldNotRenew">
        <b>Fehler</b><br />
        {{ctrl.error}}
      </div>

      <div class="form-style form-style-3">
        <div>
          <p>Passwort vergessen? Kein Problem, gieb hier deine E-Mail Addresse an und wir senden dir ein neues zu.</p>
          <form name="passwordLostForm">

            <div class="form-inputs clearfix">
              <p>
                <label class="required">
                  E-Mail<span>*</span>
                </label>
                <input type="email" ng-model="ctrl.data.Email" required>
              </p>
            </div>
            <p class="form-submit">
              <input type="button" ng-click="ctrl.renewPassword()" value="Passwort anfordern" ng-disabled="passwordLostForm.$invalid" class="btn btn-primary pull-right">
            </p>

            <br />

          </form>

        </div>
      </div>
    </div>
  </div>

  <aside class="col-md-4 sidebar">
    <div class="widget widget_stats">
      <h3 class="widget_title">Infos</h3>

      <p>
        Wir werden dir an die angegebene E-Mail-Adresse ein E-Mail zukommen lassen welches einen LInk enthält über den du dein Passwort zurücksetzen kannst.<br />
        Es kann vorkommen, dass dieses Mail im Spam-Ordner landet, vergiss nicht diesen ebenfalls zu überprüfen.
      </p>

    </div>

  </aside>

</div>