<div class="row" ng-controller="registerUserCtrl as ctrl">
    <div class="col-md-9">
        <div class="page-content">
            <div class="boxedtitle page-title"><h2>Registrieren</h2></div>

            <div class="alert alert-success" ng-show="ctrl.successfullyRegistered">
                <b>Erfolgreich registriert!</b><br />
                Du kannst dich nun mit deinen Angaben anmelden! <br />
                Viel Spass und Erfolg in der Bar-foos-league!

            </div>

            <div class="alert alert-danger" ng-show="ctrl.registerError">
                {{ctrl.error}}
            </div>


            <div class="form-style form-style-4" ng-hide="ctrl.successfullyRegistered">
                <form name="profileForm">
                    <div class="form-inputs clearfix">
                        <p>
                            <label class="required">Vorname<span>*</span></label>
                            <input type="text" ng-model="ctrl.profile.FirstName" required />
                        </p>
                        <p>
                            <label class="required">Nachname<span>*</span></label>
                            <input type="text" ng-model="ctrl.profile.LastName">
                        </p>
                        <p>
                            <label class="required">E-Mail<span>*</span></label>
                            <input type="email" ng-model="ctrl.profile.Email" required>
                        </p>
                        <p>
                            <label class="required">Telefon<span>*</span></label>
                            <input type="text" ng-model="ctrl.profile.PhoneNumber" required>
                        </p>
                        <p>
                            <label class="required">Passwort <span>*</span></label>
                            <input type="password" ng-model="ctrl.profile.Password" required>
                        </p>
                        <p>
                            <label class="required">Passwort bestätigen<span>*</span></label>
                            <input type="password" ng-model="ctrl.password2">
                        </p>
                        <p class="alert alert-danger" style="width: 100%;" ng-show="!ctrl.arePasswordsEqual">
                            Passwörter sind nicht identisch!
                        </p>

                    </div>
                    <p class="form-submit">
                        <input type="submit" ng-disabled="profileForm.$invalid || !ctrl.arePasswordsEqual" type="submit" value="Account erstellen" ng-click="ctrl.register()" class="btn btn-primary">
                    </p>
                </form>
            </div>

        </div>
    </div>
    <aside class="col-md-3 sidebar">
        <div class="widget widget_stats">
            <h3 class="widget_title">Infos</h3>

            <p>
                Die angegebene E-Mail-Adresse wird in Zukunft dein Username sein.<br /><br />
                Mit dieser Registration erstellst du nur einen Account auf der Webseite fordere.ch. <br />
                Das ist <strong>nicht</strong> die Anmeldung für die Bar-foos-league.
                Damit du an der Bar-foos-league teilnehmen kannst benötigst du jedoch so einen Account.<br />
                <br />
                Der Account auf fordere.ch ist natürlich kostenlos.
            </p>

        </div>

    </aside>
</div>