<div ng-controller="fordere.statutenCtrl as ctrl">
    <!-- Zürich -->
    <div class="row" ng-if="ctrl.isDivision(1)">
        <div class="col-md-12">
            <div class="page-content page-shortcode">
                <div class="boxedtitle page-title">
                    <h2>Statuten</h2>

                    <p>
                        <strong>Artikel 1, Name und Sitz</strong><br />
                        Unter dem Namen 'fordere.ch', besteht in Zürich (ZH) ein Verein im Sinne der Art. 60 bis 79 ZGB.
                        Sitz des Vereins: beim Präsidenten Stefan Schöb, Katzenbachstrasse 101, 8052 Seebach
                    </p>

                    <p>
                        <strong>Artikel 2, Zweck</strong><br />
                        fordere.ch pflegt und fördert den Tischfussballsport im Rahmen einer jährlichen Tischfussballliga
                        und verschiedenen Tischfussballanlässen. Für die Organisation erlässt die Vereinsführung
                        entsprechende Weisungen. Der Verein ist politisch und konfessionell neutral.
                    </p>

                    <p>
                        <strong>Artikel 3, Dachverband</strong><br />
                        fordere.ch ist Verbandsunabhängig.
                    </p>

                    <p>
                        <strong>Artikel 4, Arten</strong><br />
                        Mitglieder von fordere.ch können natürliche und juristische Personen sein. Sie gliedern sich in:
                        <br />
                        <ol class="latin">
                            <li>Aktivmitglieder</li>
                            <li>Passivmitglieder</li>
                        </ol>
                        Aktivmitglieder sind Personen die an einer der vergangenen oder laufenden Ligen teilnehmen und den
                        Saisonbeitrag bezahlt haben.<br />
                        Passivmitglieder sind Personen, die fordere.ch durch finanzielle Beiträge unterstützen.
                    </p>

                    <p>
                        <strong>Artikel 5, Beitritt</strong><br />
                        Wer sich um die Mitgliedschaft bewirbt, hat sich via Anmeldungsformular anzumelden und auf Verlangen
                        der Vereinsführung vorstellig zu werden. Die Vereinsführung entscheidet endgültig über die Aufnahme
                        oder Abweisung des schriftlichen oder mündlichen Gesuches. Das Neumitglied wird auf www.fordere.ch
                        bei Ligastart freigeschaltet. Die Mitgliedschaft muss jedes Jahr erneuert werden.

                    </p>

                    <p>
                        <strong>Artikel 6, Rechte und Pflichten</strong><br />
                        Jedes Aktivmitglied ist in der Generalversammlung stimmberechtigt. Stellvertretungen sind
                        ausgeschlossen. Für die Mitglieder besteht eine Beitragspflicht für eine Teilnahme an einer Saison.
                    </p>

                    <p>
                        <strong>Artikel 7, Beiträge</strong><br />
                        Die Beiträge werden nach der Einstufung saisonal von der Generalversammlung festgesetzt.
                    </p>

                    <p>
                        <strong>Artikel 8, Austritt</strong><br />
                        Der Austritt kann jederzeit schriftlich (Email oder Briefpost) erklärt werden. Für Mitglieder,
                        welche den finanziellen Verpflichtungen nicht fristgerecht nachkommen (bis zum Saisonstart),
                        erlischt die Mitgliedschaft automatisch, was auch einen Ausschluss aus einer laufenden Saison
                        bedeuten kann. Vereinsführungsmitglieder haben eine Kündigungsfrist von sechs Monaten (innerhalb der
                        laufenden Saison). Falls von der Vereinsführung in kürzerer Zeit ein Nachfolger gefunden werden
                        kann, kann der Übergang auch früher vollzogen werden.
                    </p>

                    <p>
                        <strong>Artikel 9, Ausschluss</strong><br />
                        Ein Mitglied kann jederzeit vom Vorstand ausgeschlossen werden, wenn es dem Verein oder dessen
                        Interessen mutwillig Schaden zugefügt hat.
                    </p>

                    <p>
                        <strong>Artikel 10, Vereinsorgane</strong><br />
                        Die Vereinsorgane von fordere.ch bestehen aus:<br />
                        <ol class="latin">
                            <li>Generalversammlung</li>
                            <li>Vorstand</li>
                        </ol>
                    </p>

                    <p>
                        <strong>Artikel 11, Der Vorstand</strong><br />
                        Der Vorstand besteht aus:<br />
                        <ul>
                            <li>Präsident</li>
                            <li>Veranstaltungschef</li>
                            <li>Sportchef</li>
                            <li>Kassier</li>
                            <li>Kommunikation</li>
                        </ul>
                    </p>

                    <p>
                        <strong>Artikel 12, Generalversammlung</strong><br />
                        Die Generalversammlung<br />
                        <ol class="latin">
                            <li>beschliesst Statutenänderungen</li>
                            <li>setzt die Mitgliederbeiträge fest</li>
                            <li>genehmigt allfällige Reglemente</li>
                            <li>Abnahme der Jahresrechnung</li>
                        </ol>
                    </p>

                    <p>
                        <strong>Artikel 13, Einberufung ord. GV</strong><br />
                        Die ordentliche Generalversammlung findet jährlich jeweils innert zwei Monaten nach Abschluss einer
                        Saison statt. Zur ordentlichen oder ausserordentlichen Generalversammlung müssen alle
                        Vorstandsmitglieder 30 Tage im Voraus mittels elektronischer Post (inkl. Anhang der Traktandenliste)
                        eingeladen werden.
                    </p>

                    <p>
                        <strong>Artikel 14, ausserordentliche GV</strong><br />
                        Eine ausserordentliche GV kann auf Antrag eines Mitglieds der Vereinsführung oder 10%
                        stimmberechtigten Mitgliedern innert 30 Tagen nach dem Antrag einberufen werden.
                    </p>

                    <p>
                        <strong>Artikel 15, Anträge</strong><br />
                        Die Mitglieder haben Anträge mindestens zehn Tage vor der Versammlung bei der Vereinführung
                        schriftlich einzureichen.
                    </p>

                    <p>
                        <strong>Artikel 16, Beschlussfähigkeit</strong><br />
                        Die Generalversammlung ist nur beschlussfähig, wenn mindestens 5% der Mitglieder anwesend sind. Im
                        Falle von Stimmengleichheit zählt die Stimme des Vorsitzenden doppelt.
                    </p>

                    <p>
                        <strong>Artikel 17, Haftung</strong><br />
                        Für Schulden des Vereins haftet ausschliesslich das Vereinsvermögen. Eine persönliche Haftung der
                        Mitglieder ist ausgeschlossen.
                    </p>

                    <p>
                        <strong>Artikel 18, Auflösung des Vereins fordere.ch</strong><br />
                        Bei der Auflösung des Vereins fordere.ch fällt das Vereinsvermögen an eine andere steuerbefreite
                        Institution, die den gleichen oder einen ähnlichen Zweck verfolgt und ihren Sitz in der Schweiz hat.
                        Ein Rückfall des Vereinsvermögens an die Mitglieder oder deren Rechtsnachfolger ist ausgeschlossen.
                    </p>

                    <p>
                        <strong>Artikel 19, Revision</strong><br />
                        Die Mitgliederversammlung wählt 2 Rechnungsrevisoren, welche die Buchführung kontrollieren und mindestens einmal jährlich eine
                        Stichkontrolle durchführen.<br />
                        Die Revisionsstelle erstattet dem Vorstand zuhanden der Generalversammlung Bericht
                        und Antrag. <br />
                        Die Amtszeit beträgt 1 Jahr. Wiederwahl ist möglich.
                    </p>

                    <p>
                        <strong>Artikel 20, Inkrafttreten</strong><br />
                        Diese Statuten treten sofort nach Unterzeichnung in Kraft. Im übrigen gelten die Regeln des ZGB,
                        Art. 60 bis 79.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- St. Gallen -->
    <div class="row" ng-if="ctrl.isDivision(2)">
        <div class="col-md-12">
            <div class="page-content page-shortcode">
                <div class="boxedtitle page-title">
                    <h2>Statuten</h2>
                </div>
                <p class="alert alert-info">Da arbeiten wir noch daran :)</p>
            </div>
        </div>
    </div>

    <!-- Luzern -->
    <div class="row" ng-if="ctrl.isDivision(3)">
        <div class="col-md-12">
            <div class="page-content page-shortcode">
                <div class="boxedtitle page-title">
                    <h2>Statuten</h2>
                </div>


                <p>
                    <strong>Artikel 1, Name und Sitz</strong><br />
                    Unter dem Namen «Fordere Luzern», besteht in Luzern (LU) ein Verein im Sinne der Art. 60 bis 79 ZGB. Sitz des Vereins: beim Präsidenten Jorge Rodriguez, Bachtalen 4, 6020 Emmenbrücke.
                </p>

                <p>
                    <strong>Artikel 2, Zweck</strong><br />
                    «Fordere Luzern» pflegt und fördert den Tischfussballsport im Rahmen einer jährlichen Tischfussballliga und verschiedenen Tischfussballanlässen. Für die Organisation erlässt die Vereinsführung entsprechende Weisungen. Der Verein ist politisch und konfessionell neutral.
                </p>

                <p>
                    <strong>Artikel 3, Dachverband</strong><br />
                    «Fordere Luzern» ist verbandsunabhängig.
                </p>

                <p>
                    <strong>Artikel 4, Mitglieder</strong><br />
                    Mitglieder von «Fordere Luzern» können natürliche und juristische Personen sein.
                </p>

                <p>
                    <strong>Artikel 5, Beitritt</strong><br />
                    Wer sich um die Mitgliedschaft bewirbt, hat sich mündlich beim Vorstand oder schriftlich beim Sitz des Vereins vorstellig zu werden. Die Vereinsführung entscheidet endgültig über die Aufnahme oder Abweisung des schriftlichen oder mündlichen Gesuches. Die Mitgliedschaft muss jedes Jahr erneuert werden.
                </p>

                <p>
                    <strong>Artikel 6, Rechte und Pflichten</strong><br />
                    Jedes Mitglied ist in der Generalversammlung stimmberechtigt. Stellvertretungen sind ausgeschlossen.
                </p>

                <p>
                    <strong>Artikel 7, Beiträge</strong><br />
                    Die Beiträge werden nach der Einstufung saisonal von der Generalversammlung festgesetzt.
                </p>

                <p>
                    <strong>Artikel 8, Austritt</strong><br />
                    Der Austritt kann jederzeit schriftlich (Email oder Briefpost) erklärt werden. Für Mitglieder, welche den finanziellen Verpflichtungen nicht fristgerecht nachkommen, erlischt die Mitgliedschaft automatisch. Vereinsführungsmitglieder haben eine Kündigungsfrist von sechs Monaten (innerhalb der laufenden Saison). Falls von der Vereinsführung in kürzerer Zeit ein Nachfolger gefunden werden kann, kann der Übergang auch früher vollzogen werden.
                </p>

                <p>
                    <strong>Artikel 9, Ausschluss</strong><br />
                    Ein Mitglied kann jederzeit vom Vorstand ausgeschlossen werden, wenn es dem Verein oder dessen Interessen mutwillig Schaden zugefügt hat.
                </p>

                <p>
                    <strong>Artikel 10, Vereinsorgane</strong><br />
                    Die Vereinsorgane von «Fordere Luzern» bestehen aus:
                    <ol>
                        <li>Generalversammlung</li>
                        <li>Vorstand</li>
                    </ol>
                </p>

                <p>
                    <strong>Artikel 11, Der Vorstand</strong><br />
                    Der Vorstand besteht aus:
                    <ul>
                        <li>Präsident</li>
                        <li>Sportchef</li>
                        <li>Finanzen/Kassier</li>
                        <li>Kommunikation</li>
                    </ul>
                    Der Vorstand konstituiert sich selbst.
                </p>

                <p>
                    <strong>Artikel 12, Generalversammlung</strong><br />
                    Die Generalversammlung
                    <ol>
                        <li>beschliesst Statutenänderungen</li>
                        <li>setzt die Mitgliederbeiträge fest</li>
                        <li>genehmigt allfällige Reglemente</li>
                        <li>Abnahme der Jahresrechnung</li>
                    </ol>

                </p>

                <p>
                    <strong>Artikel 13, Einberufung ord. GV</strong><br />
                    Die ordentliche Generalversammlung findet jährlich jeweils innert zwei Monaten nach Abschluss einer Saison statt. Zur ordentlichen oder ausserordentlichen Generalversammlung müssen alle Vorstandsmitglieder 30 Tage im Voraus mittels elektronischer Post (inkl. Anhang der Traktandenliste) eingeladen werden.

                </p>

                <p>
                    <strong>Artikel 14, ausserordentliche GV</strong><br />
                    Eine ausserordentliche GV kann auf Antrag eines Mitglieds der Vereinsführung oder 10% stimmberechtigten Mitgliedern innert 30 Tagen nach dem Antrag einberufen werden.
                </p>

                <p>
                    <strong>Artikel 15, Anträge</strong><br />
                    Die Mitglieder haben Anträge mindestens zehn Tage vor der Versammlung bei der Vereinführung schriftlich einzureichen.
                </p>

                <p>
                    <strong>Artikel 16, Haftung</strong><br />
                    Für Schulden des Vereins haftet ausschliesslich das Vereinsvermögen. Eine persönliche Haftung der Mitglieder ist ausgeschlossen.
                </p>

                <p>
                    <strong>Artikel 17, Auflösung des Vereins «Fordere Luzern»</strong><br />
                    Bei der Auflösung des Vereins «Fordere Luzern» fällt das Vereinsvermögen an eine andere Institution, die den gleichen oder einen ähnlichen Zweck verfolgt und ihren Sitz in der Schweiz hat. Ein Rückfall des Vereinsvermögens an die Mitglieder oder deren Rechtsnachfolger ist ausgeschlossen.
                </p>

                <p>
                    <strong>Artikel 19, Revision</strong><br />
                    Die Mitgliederversammlung kann einen Rechnungsrevisor wählen, welche die Buchführung kontrolliert und mindestens einmal jährlich eine Stichkontrolle durchführt.<br />
                    Die Revisionsstelle erstattet dem Vorstand zuhanden der Generalversammlung Bericht.<br />
                    Wiederwahl ist möglich.<br />

                </p>

                <p>
                    <strong>Artikel 20, Inkrafttreten</strong><br />
                    Diese Statuten treten sofort nach Unterzeichnung in Kraft. Im übrigen gelten die Regeln des ZGB, Art. 60 bis 79.
                </p>
            </div>
        </div>
    </div>

    <!-- Winti -->
    <div class="row" ng-if="ctrl.isDivision(4)">
        <div class="col-md-12">
            <div class="page-content page-shortcode">
                <div class="boxedtitle page-title">
                    <h2>Statuten</h2>
                </div>


                <p>
                    <strong>Artikel 1, Name und Sitz</strong><br />
                    Unter dem Namen ‘fordere Winti’, besteht in Winterthur (ZH) ein Verein im Sinne der Art. 60 bis 79 ZGB. Sitz des Vereins: beim Präsidenten Ramon Schnider, Strickerstrasse 1, 8400 Winterthur
                </p>

                <p>
                    <strong>Artikel 2, Zweck</strong><br />
                    ‘fordere Winti’ pflegt und fördert in erster Linie den Tischfussballsport im Rahmen einer jährlichen Tischfussballliga und verschiedenen Tischfussballanlässen. Weiter hält sich der Verein offen, andere Freizeitaktivitäten im Rahmen von Anlässen zu fördern. Für die Organisation erlässt die Vereinsführung entsprechende Weisungen.
                </p>

                <p>
                    <strong>Artikel 3, Dachverband</strong><br />
                    ‘fordere Winti’ ist verbandsunabhängig.
                </p>

                <p>
                    <strong>Artikel 4, Mitglieder</strong><br />
                    Mitglieder von ‘fordere Winti’ können natürliche und juristische Personen sein. Sie gliedern sich in:
                    <ul>
                        <li>Aktivmitglieder</li>
                        <li>Passivmitglieder</li>
                    </ul>
                    Aktivmitglieder sind Personen, die an einer der vergangenen oder laufenden Ligen teilnehmen und den Saisonbeitrag bezahlt haben.
                    Passivmitglieder sind Personen, die ‘fordere Winti’ durch finanzielle Beiträge unterstützen.

                </p>

                <p>
                    <strong>Artikel 5, Beitritt</strong><br />
                    Wer sich um die Mitgliedschaft bewirbt, hat sich via Anmeldungsformular anzumelden und auf Verlangen der Vereinsführung vorstellig zu werden. Die Vereinsführung entscheidet endgültig über die Aufnahme oder Abweisung des schriftlichen oder mündlichen Gesuches. Das Neumitglied wird auf www.fordere.ch/Winti bei Ligastart freigeschaltet. Die Mitgliedschaft muss jedes Jahr erneuert werden. </p>

                <p>
                    <strong>Artikel 6, Rechte und Pflichten</strong><br />
                    Jedes Aktivmitglied ist in der Generalversammlung stimmberechtigt. Stellvertretungen sind ausgeschlossen. Für die Mitglieder besteht eine Beitragspflicht für eine Teilnahme an einer Saison.
                </p>

                <p>
                    <strong>Artikel 7, Beiträge</strong><br />
                    Die Beiträge werden nach der Einstufung saisonal von der Generalversammlung festgesetzt.
                </p>

                <p>
                    <strong>Artikel 8, Austritt</strong><br />
                    Der Austritt kann jederzeit schriftlich (Email oder Briefpost) erklärt werden. Für Mitglieder, welche den finanziellen Verpflichtungen nicht fristgerecht nachkommen (bis zum Saisonstart), erlischt die Mitgliedschaft automatisch, was auch einen Ausschluss aus einer laufenden Saison bedeuten kann. Rückerstattung des Beitrages findet nicht statt. Vereinsführungsmitglieder haben eine Kündigungsfrist von sechs Monaten (innerhalb der laufenden Saison). Falls von der Vereinsführung in kürzerer Zeit ein Nachfolger gefunden werden kann, kann der Übergang auch früher vollzogen werden. </p>

                <p>
                    <strong>Artikel 9, Ausschluss</strong><br />
                    Ein Mitglied kann jederzeit vom Vorstand ausgeschlossen werden, wenn es dem Verein oder dessen Interessen mutwillig Schaden zugefügt hat oder bei groben Verletzungen des Verhaltenskodex. </p>

                <p>
                    <strong>Artikel 10, Vereinsorgane</strong><br />
                    Die Vereinsorgane von ‘fordere Winti’ bestehen aus:
                    <ol>
                        <li>Generalversammlung</li>
                        <li>Vorstand</li>
                    </ol>
                </p>

                <p>
                    <strong>Artikel 11, Der Vorstand</strong><br />
                    Der Vorstand besteht aus:
                    <ul>
                        <li>Präsident</li>
                        <li>Sportchef</li>
                        <li>Kassier</li>
                        <li>Kommunikation</li>
                        <li>Veranstaltungschef</li>
                    </ul>
                </p>

                <p>
                    <strong>Artikel 12, Generalversammlung</strong><br />
                    Die Generalversammlung
                    <ol>
                        <li>beschliesst Statutenänderungen</li>
                        <li>setzt die Mitgliederbeiträge fest</li>
                        <li>genehmigt allfällige Reglemente</li>
                        <li>Abnahme der Jahresrechnung</li>
                    </ol>

                </p>

                <p>
                    <strong>Artikel 13, Einberufung ord. GV</strong><br />
                    Die ordentliche Generalversammlung findet jährlich jeweils innert zwei Monaten nach Abschluss einer Saison statt. Zur ordentlichen oder ausserordentlichen Generalversammlung müssen alle Vorstandsmitglieder 30 Tage im Voraus mittels elektronischer Post (inkl. Anhang der Traktandenliste) eingeladen werden.
                </p>

                <p>
                    <strong>Artikel 14, ausserordentliche GV</strong><br />
                    Eine ausserordentliche GV kann auf Antrag eines Mitglieds der Vereinsführung oder 10% stimmberechtigten Mitgliedern innert 30 Tagen nach dem Antrag einberufen werden.  </p>

                <p>
                    <strong>Artikel 15, Anträge</strong><br />
                    Die Mitglieder haben Anträge mindestens zehn Tage vor der Versammlung bei der Vereinsführung schriftlich einzureichen.
                    </p>
                <p>
                    <strong>Artikel 16, Beschlussfähigkeit</strong><br />
                    Die Generalversammlung ist nur beschlussfähig, wenn mindestens 5% der Mitglieder anwesend sind. Im Falle von Stimmengleichheit zählt die Stimme des Vorsitzenden doppelt.
                </p>
                <p>
                    <strong>Artikel 17, Haftung</strong><br />
                    Für Schulden des Vereins haftet ausschliesslich das Vereinvermögen. Eine persönliche Haftung der Mitglieder ist ausgeschlossen.
                </p>
                
                <p>
                    <strong>Artikel 18, Auflösung des Vereins</strong><br />
                    Bei der Auflösung des Vereins ‘fordere Winti’ fällt das Vereinsvermögen an eine andere steuerbefreite Institution, die den gleichen oder einen ähnlichen Zweck verfolgt und ihren Sitz in der Schweiz hat. Ein Rückfall des Vereinsvermögens an die Mitglieder oder deren Rechtsnachfolger ist ausgeschlossen.
                </p>

                <p>
                    <strong>Artikel 19, Revision</strong><br />
                    Die Mitgliederversammlung wählt 2 Rechnungsrevisoren, welche die Buchführung kontrollieren und mindestens einmal jährlich eine Stichkontrolle durchführen.
                    Die Revisionsstelle erstattet dem Vorstand zuhanden der Generalversammlung Bericht und Antrag.

                    <br />
                    Die Amtszeit beträgt 1 Jahr. Wiederwahl ist möglich.
                </p>

                <p>
                    <strong>Artikel 20, Inkrafttreten</strong><br />
                    Diese Statuten treten sofort nach Unterzeichnung in Kraft. Im Übrigen gelten die Regeln des ZGB, Art. 60 bis 79.
                </p>
            </div>
        </div>
    </div>
</div>