<div class="row">
    <div class="col-md-12">
        <div class="tabs-warp question-tab">
            <ul class="tabs list-unstyled">
                <li class="tab">
                    <a href="#/leagues/1/standings">Tabellen</a>
                </li>
                <li class="tab">
                    <a href="#/leagues/1/teams">Teams</a>
                </li>
                <li class="tab">
                    <a href="#/leagues/1/finalqualified" class="current">Qualifikation Finaltag</a>
                </li>
                <li class="tab">
                    <a href="#/leagues/1/finalresults">Resultate Finaltag</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="page-content">
            <div class="boxedtitle page-title">
                <h2>Qualifikation Finaltag</h2>
            </div>

            <p class="alert alert-info">Die Teams werden am Finaltag gem&auml;ss der Tabelle der Vorrunde gesetzt. Sollte ein Team verhindert sein r&uuml;ckt entsprechend das n&auml;chste Team der Liga nach (Gruppen&uuml;bergreiffend). </p>

            <h3 id="league-1">1. Liga <small ng-if="league.Group">Gruppe {{ league.Group }}</small></h3>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-md-6">Team</th>
                            <th class="col-md-2">Qualifikation</th>
                            <th class="col-md-4">Anmerkung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Alfa Romeo
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Ch&uuml;geler
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                &uuml; 130
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                B&uuml;ndner Z&uuml;ri L&ouml;wen
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Me w&ouml;sseds immer noni
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                &auml;hhh tschuldigung...
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Randomizer 1.0
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Equilibrium
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                The Smegmators Strikes Back
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Verhindert</td>
                        </tr>
                        <tr>
                            <td>
                                sons of gonzo
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                12
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Verrecki
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Verhindert</td>
                        </tr>
                        <tr>
                            <td>
                                Pure Pleasure Seekers
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>

                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Sie wars... nei Er wars
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                SPARTA
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                [AMIV] Anmeldeschwierigkeit
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td>Nachr&uuml;cker Smegmators</td>
                        </tr>
                        <tr>
                            <td>
                                T&auml;tsch B&auml;ng Mereng
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Forfait</td>
                        </tr>
                        <tr>
                            <td>
                                [AMIV] WD41
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Forfait</td>
                        </tr>
                        <tr>
                            <td>
                                URl - Us R&uuml;cksicht langsam
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Forfait</td>
                        </tr>

                    </tbody>
                </table>
            </div>






            <h3 id="league-1">2. Liga <small ng-if="league.Group">Gruppe {{ league.Group }}</small></h3>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-md-6">Team</th>
                            <th class="col-md-2">Qualifikation</th>
                            <th class="col-md-4">Anmerkung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Backflip
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Waldorf & Statler
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Verhindert</td>
                        </tr>
                        <tr>
                            <td>
                                Sch&uuml;tteres Mittelhaar
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Fambarbarians
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Verhindert</td>
                        </tr>
                        <tr>
                            <td>
                                BBR
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Double Trouble
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Leontodon
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Ohne Bier kein Spiel
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                HixgiH&auml;xgi
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                [AMIV] Ballmer Peak
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Verhindert</td>
                        </tr>
                        <tr>
                            <td>
                                under the gun
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                AleGam
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                The Kitten Mittens
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>

                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Ute Kull
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Verhindert</td>
                        </tr>
                        <tr>
                            <td>
                                Busi
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                kamikaze
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                White Russians
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td>Nachr&uuml;cker Ute Kull</td>
                        </tr>
                        <tr>
                            <td>
                                Schall und Rauch
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td>Nachr&uuml;cker Ballmer Peak</td>
                        </tr>
                        <tr>
                            <td>
                                Folgemilch
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Forfait</td>
                        </tr>
                        <tr>
                            <td>
                                asdf 2.0
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Forfait</td>
                        </tr>
                        <tr>
                            <td>
                                Holzchopfmachine
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Forfait</td>
                        </tr>

                    </tbody>
                </table>
            </div>




            <h3 id="league-1">3. Liga Gruppe 1</h3>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-md-6">Team</th>
                            <th class="col-md-2">Qualifikation</th>
                            <th class="col-md-4">Anmerkung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                FC Ballverlust
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Di Gliiche
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                I Pancias
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Anticipaciao
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                FC Plattfuss
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Ida
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                De Willi und de Wotti
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Gaht di n&uuml;t ah!
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                BreakpointZ
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                I CANI del deserto
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                2 Paul 2
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Dribble Wizards
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Mensch ist der United
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Forfait</td>
                        </tr>
                        <tr>
                            <td>
                                Pianecet
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Forfait</td>
                        </tr>
                        <tr>
                            <td>
                                flo&auml;nd&auml;l
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Forfait</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <h3 id="league-1">3. Liga Gruppe 2</h3>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-md-6">Team</th>
                            <th class="col-md-2">Qualifikation</th>
                            <th class="col-md-4">Anmerkung</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                Cyberlink One
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>

                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Balkon Trolle
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                CATFIGHT
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Sigi for President
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                WUPS
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                azzurro
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Wannabe a wallaby
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                The Flash Gordon Team
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Verhindert</td>
                        </tr>
                        <tr>
                            <td>
                                plusminus hubertus
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Buzzlis
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Verhindert</td>
                        </tr>
                        <tr>
                            <td>
                                ThePinPusher
                            </td>
                            <td><i class="badge alert-success">Ja</i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                r&ouml;schtigrabent&ouml;ggeler
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Zu wenig Spiele</td>
                        </tr>
                        <tr>
                            <td>
                                sektionst&auml;ge
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Forfait</td>
                        </tr>
                        <tr>
                            <td>
                                Nevermind
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Forfait</td>
                        </tr>
                        <tr>
                            <td>
                                C4M
                            </td>
                            <td><i class="badge alert-danger">Nein</i></td>
                            <td>Forfait</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <h3 id="league-1">4. Liga Gruppe 1</h3>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-md-6">Team</th>
                            <th class="col-md-2">Qualifikation</th>
                            <th class="col-md-4">Anmerkung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>Blonde, bad and beautiful</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>D affe g&ouml;nd stail</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>der eine und der andere</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>eifach &ouml;ppis</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>Equinix</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>Schlachthof</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>Gr&auml;nn&auml; hiuft</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>Ein Fall f&uuml;r Zwei</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>Di chranke Schw&ouml;stere</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>ninja schn&auml;gg</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>*_*</td><td><i class="badge alert-success">Ja</i></td><td>Nachr&uuml;cker une dure</td></tr>
                        <tr><td>Singha</td><td><i class="badge alert-success">Ja</i></td><td>Nachr&uuml;cker oder so</td></tr>
                        <tr><td>Joggel & Toggel</td><td><i class="badge alert-danger">Nein</i></td><td>Forfait</td></tr>
                    </tbody>
                </table>
            </div>

            <h3 id="league-1">4. Liga Gruppe 2</h3>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-md-6">Team</th>
                            <th class="col-md-2">Qualifikation</th>
                            <th class="col-md-4">Anmerkung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>une dure</td><td><i class="badge alert-danger">Nein</i></td><td>Verhindert</td></tr>
                        <tr><td>Kick It</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>Tisch 2</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>Krokodilfarm</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>Inemit Dynamit</td><td><i class="badge alert-danger">Nein</i></td><td>Verhindert</td></tr>
                        <tr><td>jepjep</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>Mako</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>Heineken</td><td><i class="badge alert-danger">Nein</i></td><td>Verhindert</td></tr>
                        <tr><td>The Josephs</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>oder so</td><td><i class="badge alert-danger">Nein</i></td><td>Verhindert</td></tr>
                        <tr><td>Team Puerto Rico</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>YuDom</td><td><i class="badge alert-success">Ja</i></td><td>Nachr&uuml;cker Heineken</td></tr>
                        <tr><td>slainte ciaran</td><td><i class="badge alert-success">Ja</i></td><td>Nachr&uuml;cker Inemit Dynamit</td></tr>
                        <tr><td>The Cereal Killers</td><td><i class="badge alert-danger">Nein</i></td><td>Zu wenig Spiele</td></tr>
                    </tbody>
                </table>
            </div>

            <h3 id="league-1">5. Liga</h3>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-md-6">Team</th>
                            <th class="col-md-2">Qualifikation</th>
                            <th class="col-md-4">Anmerkung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>TikiTaka</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>bajuschkibaju</td><td><i class="badge alert-danger">Nein</i></td><td>Verhindert</td></tr>
                        <tr><td>sch&auml;lleursli</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>Heroes of Hubertus</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>Fam-Bears</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>Jungguns</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>ein&auml;dachzg</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>Short Foos</td><td><i class="badge alert-success">Ja</i></td><td></td></tr>
                        <tr><td>hot shots</td><td><i class="badge alert-danger">Nein</i></td><td>Verhindert</td></tr>
                        <tr><td>Name folgt</td><td><i class="badge alert-danger">Nein</i></td><td>Verhindert</td></tr>
                        <tr><td>KOF</td><td><i class="badge alert-danger">Nein</i></td><td>Verhindert</td></tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>
