<div ng-controller="fordere.newThreadCtrl as ctrl">

    <div class="row">
        <div class="col-lg-12">
            <div class="page-content page-shortcode">
                <div class="boxedtitle page-title">
                    <h2>Neues Thema starten...</h2>
                </div>

                <div ng-if="!ctrl.isAuthenticated">
                    <p class="alert alert-info">Damit du eine neues Thema starten kannst musst du dich anmelden...</p>
                </div>

                <div ng-if="ctrl.isAuthenticated">

                    <p>
                        <label for="subject" class="required">Titel des Themas<span>*</span></label>
                        <input style="width: 100%" type="text" class="required-item" ng-model="ctrl.thread.Subject" name="subject" id="subject" aria-required="true" required>
                    </p>

                    <p>
                        <label for="subject" class="required">Dein Text<span>*</span></label>
                        <div text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics'],['undo', 'redo'], ['insertLink'], ['ul', 'ol']]" ng-model="ctrl.thread.Text"></div>
                    </p>
                    <br />

                    <button class="btn btn-default pull-right" ng-click="ctrl.createNewThread()">Thema starten</button>
                </div>
            </div>
        </div>
    </div>

</div>