<div class="row">
    <div class="col-lg-12">
        <div class="page-content page-shortcode">

            <div class="boxedtitle page-title">
                <h2>FAQ - Saison - Planung</h2>
            </div>

            <div class="accordion toggle-accordion">
                <toggle>
                    <a class="fordere-toggle-title" href="">Melde ich mich als Team oder alleine an?</a>
                    <div class="fordere-toggle-content">
                        Du meldest Dich zusammen mit deinem Partner oder deiner Partnerin als Team an.
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">In welcher Liga (Stärkeklasse) soll ich teilnehmen? </a>
                    <div class="fordere-toggle-content">
                        Dein Team wird vor der Saison zu einem Vorspielen aufgeboten. Ihr werdet in eine passende Stärkeklasse eingeteilt.
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Sind auch Anfänger oder Leute, die nicht gut töggelen in der Barfoos – League willkommen?</a>
                    <div class="fordere-toggle-content">
                        Ja! Die Bar-foos-league richtet sich an alle, die gerne in Bars "töggelen". Du wirst aufgrund deiner Spielfähigkeiten in eine passende Liga eingeteilt. Auch Anfänger sind in der untersten Stärkeklasse bestens aufgehoben.
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Wie hoch ist die Teilnahmegebühr?</a>
                    <div class="fordere-toggle-content">
                        Pro Person beträgt die Teilnahmegebühr 25 Franken. Falls ihr in mehreren Divisionen mitspielt, muss dieser Beitrag pro Division bezahlt werden.
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Wie lange dauert die Saison?</a>
                    <div class="fordere-toggle-content">
                        Die Saison dauert jeweils 4-6 Monate und startet jeweils zwischen Oktober und Dezember und dauert bis ca. April/Mai.
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Wann und wo finden die Spiele statt?</a>
                    <div class="fordere-toggle-content" ng-if="!ctrl.isDivision(3)">
                        Die Spiele finden in verschiedenen Bars statt (<a href="https://fordere.ch/bars">Fordere Partnerbars</a>). Du entscheidest selber mit deinen jeweiligen Gegnern, wann Du wo gegen wen spielst. Du bist also bei der Spielplanung flexibel. Die Spielplanung erfolgt über <a href="fordere.ch">fordere.ch</a>
                    </div>
                    <div class="fordere-toggle-content" ng-if="ctrl.isDivision(3)">
                        Die Spiele finden in verschiedenen Bars statt (<a href="https://fordere.ch/bars">Fordere Partnerbars</a>). Sämtliche Teams in einer Liga spielen gegen jedes andere Team ein Hin- und Rückspiel. Wer Heimspiel hat entscheidet, in welcher der Partnerbars gespielt wird. Die Spielplanung erfolgt über <a href="fordere.ch">fordere.ch</a>
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Wie viele Spiele muss ich austragen?</a>
                    <div class="fordere-toggle-content">
                        Je nach Liga-Grösse hast du zwischen 12 und 18 Spiele. Pro Monat also circa 3 Spiele. Wenn Du geschickt planst, kannst Du zwei oder drei Spiele am selben Abend austragen. So musst Du höchstens zwei Termine pro Monat für die Liga reservieren.
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Kann ich auch teilnehmen, wenn ich längere Zeit weg bin?</a>
                    <div class="fordere-toggle-content">
                        Es ist kein Problem, wenn du während einer gewissen Zeit keine Spiele austragen kannst - die Spiele können vor- oder nachgeholt werden. Informier am besten deinen Ligacoach und die Teams deiner Gruppe über längere Ausfälle.
                    </div>
                </toggle>
                <toggle ng-if="!ctrl.isDivision(3)">
                    <a class="fordere-toggle-title" href="">Garlando oder Ullrich?</a>
                    <div class="fordere-toggle-content">
                        Garlando und Ullrich sind unterschiedliche Töggeli – Tische. In den meisten Bars stehen Garlando – Tische. Die Garlando – Liga ist deshalb deutlich grösser als die Ullrich Liga. Du kannst selber entscheiden, ob du nur Garlando, nur Ullrich, oder an beiden Ligen teilnehmen willst.
                        <p class="alert alert-info">Eine Ullrich Liga wird nur in Zürich gespielt.</p>
                    </div>
                </toggle>
                <toggle ng-if="ctrl.isDivision(3)">
                    <a class="fordere-toggle-title" href="">Garlando, Ullrich oder Tornado?</a>
                    <div class="fordere-toggle-content">
                        In der Haifish Bar und der Bar 59 steht ein Garlando Tisch zur Verfügung. Im Lokal des Tischfussballclubs Luzern könnt ihr auf Ullrich oder Garlando spielen und im El Barrio ist ein Tornado Tisch spielbereit.</p>
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Was macht der Liga Coach?</a>
                    <div class="fordere-toggle-content">
                        Jede Liga, bzw. jede Gruppe erhält einen Liga Coach. Dabei handelt es sich um einen Spieler oder eine Spielerin, die seit mehreren Jahren an der Liga teilnimmt. Er wird dir bei Fragen oder Problemen weiterhelfen und ist das Bindeglied zum Vorstand, zum Modus - Team und zur Rekurs Kommission.<br />
                        Der Liga Coach eröffnet für seine Gruppe einen Whatsapp – Chat, über den die Spiele abgemacht werden können.
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Was kann ich gewinnen?</a>
                    <div class="fordere-toggle-content">
                        Ruhm, Ehre und bei einem erfolgreichen Abschneiden am Finaltag einen Pokal.
                    </div>
                </toggle>
            </div>

            <div class="boxedtitle page-title">
                <h2>FAQ - Saison - Planung & Durchführung</h2>
            </div>

            <div class="accordion toggle-accordion">

                <toggle>
                    <a class="fordere-toggle-title" href="">Wie mache ich einen Spieltermin ab?</a>
                    <div class="fordere-toggle-content">
                        Das Heimteam nimmt jeweils via Whatsapp, SMS oder e-mail mit dem gegnerischen Teams Kontakt auf, macht einen oder mehrere Terminvorschläge, und nennt das Spiellokal. Wenn Ihr euch auf einen Termin und ein Lokal geeinigt habt, trägt das Heimteam das Spiel im Spielplan ein. Jetzt ist der Tisch für Euch reserviert.
                    </div>
                </toggle>

                <toggle>
                    <a class="fordere-toggle-title" href="">Muss ich in meinem Heimlokal spielen?</a>
                    <div class="fordere-toggle-content">
                        Nein. Du kannst dich mit deinem Gegner auf irgendeine Fordere-Partner-Bar einigen. Wenn Ihr euch nicht auf eine Bar einigen könnt, entscheidet das Heimteam über den Austragungsort.
                    </div>
                </toggle>

                <toggle>
                    <a class="fordere-toggle-title" href="">Wir haben uns auf einen Termin geeinigt, aber alle Tische sind reserviert. Was nun?</a>
                    <div class="fordere-toggle-content">
                        Haltet Euch an die Tischfreigaben auf fordere.ch. Wenn in einer Bar zu einem bestimmten Zeitpunkt kein Tisch mehr reserviert werden kann, heisst das, dass die Tische bereits mit Liga - Spielen besetzt sind oder in der Bar an diesem Abend ein Anlass (zum Beispiel ein Töggeli Turnier) stattfindet oder die Bar zu diesem Zeitpunkt gar nicht geöffnet hab. Ihr müsst euch dann also auf einen anderen Zeitpunkt oder eine andere Bar einigen.
                    </div>
                </toggle>

                <toggle>
                    <a class="fordere-toggle-title" href="">Der Töggelikasten ist besetzt - was nun?</a>
                    <div class="fordere-toggle-content">
                        Bar-foos-league Spieler sind in den Bars ganz normale Töggeler und müssen sich hinten anstellen. Bitte respektiert die andern, die spielen wollen. Wählt am besten Uhrzeiten für eure Begegnungen, an denen nicht so viel gespielt wird. Von 17 00 Uhr bis 20 00 Uhr sind die Tische normalerweise nicht stark belegt. Wenn andere Teams ohne Reservation an eurem Tisch zu eurem Zeitpunkt ein Ligaspiel austragen wollen, dürft ihr euch aber wehren: Dann habt ihr Vorrang.
                    </div>
                </toggle>

                <toggle>
                    <a class="fordere-toggle-title" href="">Wie viel kostet es, ein Liga – Spiel auszutragen?</a>
                    <div class="fordere-toggle-content">
                        In gewissen Bars kostet ein Spiel mit 13 Bällen 1 Franken, in anderen Bars stehen die Tische gratis zur Verfügung. Um unsere Partnerbars zu untersützen, bitten wir euch jeweils auch etwas zu konsumieren.
                    </div>
                </toggle>

                <toggle>
                    <a class="fordere-toggle-title" href="">Ergebnisse melden - wer und wie?</a>
                    <div class="fordere-toggle-content">
                        Der Sieger des Spiels trägt das Ergebnis auf der Webseite ein. Merken müsst ihr euch bloss, wie viele Sätze ihr gewonnen habt und dies entsprechend eintragen (also folgende Möglichkeiten: 3:0, 3:1, 3:2, 2:3, 1:3, 0:3).. Das Ergebnis sollte innerhalb von 24 Stunden eingetragen werden, sonst besteht die Gefahr, dass Ergebnisse verloren/vergessen gehen. Achtung: Das Ergebnis kann aus Sicherheitsgründen nur innerhalb von zehn Minuten nach dem ersten Eintrag korriegrt werden. Wird ein Ergebnis falsch eingetragen und nicht innerhalb von zehn Minuten korrigiert, meldet bitte das korrekte Ergebnis sofort an info@fordere.ch.
                    </div>
                </toggle>

                <toggle>
                    <a class="fordere-toggle-title" href="">Das Ergebnis wurde von den Gegnern falsch eingetragen, was nun?</a>
                    <div class="fordere-toggle-content">
                        Wenn ihr der Meinung seid, ein Ergebnis wurde falsch eingetragen, sprecht bitte zuerst mit dem Team, das das Ergebnis eingetragen hat. Vermutlich handelt es sich ja nur um ein Versehen. Falls das Resultat korrigiert werden muss, macht eine Meldung mit dem korrekten Ergebnis an {{ctrl.getContactMail()}} Sollten sich die Teams uneinig sein, entscheidet die Rekurs - Kommission, wie das Ergebnis aussieht oder/und ob das Spiel wiederholt wird.
                    </div>
                </toggle>

                <toggle>
                    <a class="fordere-toggle-title" href="">Was passiert, wenn ich einen Termin nicht einhalten kann?</a>
                    <div class="fordere-toggle-content">
                        Falls euch einmal etwas bei einem Spieltermin dazwischen kommt, informiert bitte euer gegnerisches Team frühzeitig! Sollte das gegnerische Team sich bereits im Lokal befinden, hat es das Recht, einen Forfait Sieg 3 zu 0 einzutragen. Versucht aber vorher immer gemeinsam eine Lösung für einen anderen Termin zu finden. Wir wollen Töggelen und nicht Siege geschenkt bekommen.
                    </div>
                </toggle>

                <toggle>
                    <a class="fordere-toggle-title" href="">Das gegnerische Team ist nicht zum Spiel erschienen. Was passiert nun?</a>
                    <div class="fordere-toggle-content">
                        Sollte sich ein Team unentschuldigt massiv verspäten (ab 1 Stunde) oder gar nicht zum Termin erscheinen, habt Ihr das Recht, einen 3 zu 0 Forfait Sieg einzutragen. Ihr dürft natürlich aber auch einen anderen Termin mit dem Gegner abmachen. Auch hier gilt: Wir wollen Töggelen und keine Siege geschenkt bekommen.
                    </div>
                </toggle>
            </div>

            <div class="boxedtitle page-title">
                <h2>FAQ - Halbzeit</h2>
            </div>

            <div class="accordion toggle-accordion">
                <toggle>
                    <a class="fordere-toggle-title" href="">Wie viele Spiele muss ich bis zur Saison – Halbzeit ausgetragen haben?</a>
                    <div class="fordere-toggle-content">
                        Für jede Saison wird vom Modusteam ein Halbzeit-Stichtag definiert. Bis zu diesem Zeitpunkt musst du mindestens fünf Spiele, im Idealfall aber die Hälfte der Spiele ausgetragen haben.
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Was passiert, wenn ich bis zur Saison – Halbzeit weniger als fünf Spiele ausgetragen habe?</a>
                    <div class="fordere-toggle-content">
                        Teams mit weniger als fünf Spielen bis zur Halbzeit können disqualifiziert werden. Um einer Disqualifikation zu entgehen musst Du dich mit deinem Liga Coach absprechen und dich verpflichten in der zweiten Saison – Hälfte die offenen Spiele auszutragen. Teams, die noch gar kein Spiel oder weniger als fünf Spiele ausgetragen haben und auf Anfragen des Liga Coachs nicht reagieren, werden zwangsläufig disqualifiziert.
                    </div>
                </toggle>
            </div>


            <div class="boxedtitle page-title">
                <h2>FAQ Finaltag</h2>
            </div>
            <div class="accordion toggle-accordion">
                <toggle>
                    <a class="fordere-toggle-title" href="">Wer qualifiziert sich für den Finaltag?</a>
                    <div class="fordere-toggle-content">
                        Für den Finaltag klassieren sich alle Teams, die...
                        <ul>
                            <li>...über dem Qualifikations-Strich klassiert sind</li>
                            <li>...maximal zwei Spiele nicht ausgetragen haben</li>
                        </ul>
                        Der Qualifikations-Strich berechnet sich: Anzahl Teams x 0.75. Es wird auf die nächste ganze Zahl aufgerundet
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Was für ein Modus wird am Finaltag gespielt?</a>
                    <div class="fordere-toggle-content">
                        <p>Gespielt wird eine Vorrunde und anschliessend eine KO Phase im Single KO Modus.</p>
                        <p>Geplanter Modus Vorrunde (ohne Gewähr): </p>
                        <ul>
                            <li>Best of 3</li>
                            <li>Gruppengrösse 4 bis 6 Teams.</li>
                            <li>Jeder gegen jeden</li>
                        </ul>
                        <p>Die besten Teams der Vorrunde qualifizieren sich für die Single-KO-Phase. Die Single KO – Phase wird im Modus Best of 3 ausgetragen.</p>
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Wie erfolgt die Setzung am Finaltag?</a>
                    <div class="fordere-toggle-content">
                        <p>Sowohl für die Vorrunde als auch für die KO – Phase erfolgt die Setzung aufgrund der Saison-Rangliste</p>
                    </div>
                </toggle>
            </div>

            <div class="boxedtitle page-title">
                <h2>FAQ Ausstieg & Spielerwechsel</h2>
            </div>
            <div class="accordion toggle-accordion">
                <toggle>
                    <a class="fordere-toggle-title" href="">Kann mein Team während der Saison aussteigen?</a>
                    <div class="fordere-toggle-content">
                        Teams die aus der Saison aussteigen sind jedes Jahr ein grosses Problem für die Liga. Ein Ausstieg ist jedoch jederzeit möglich. Sämtliche bereits gespielte und noch nicht gespielte Spiele werden 3 zu 0 für die Gegner gewertet. Spiele zwischen Teams, die beide aus der laufenden Saison ausgestiegen sind, werden nicht gewertet und gelten als nicht ausgetragen
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Wird der Mitgliederbeitrag bei einem Ausstieg zurückerstattet?</a>
                    <div class="fordere-toggle-content">
                        Nein
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Ist ein Spielerwechsel möglich und was ist zu beachten?</a>
                    <div class="fordere-toggle-content">
                        Ein Spielerwechsel ist grundsätzlich nicht möglich. In Ausnahmefällen (z.B. bei einer Verletzung eines Spielers) kann jedoch ein Spielerwechsel beantragt werden. Dabei ist folgendes zu beachten:
                        <ul>
                            <li>Will ein Team einen Spieler austauschen, erfolgt ein entsprechender Antrag an die Rekurs Kommission ({{ctrl.getContactMail()}})</li>
                            <li>
                                Die Rekurs Kommission beurteilt und bewilligt einen Spielerwechsel nach folgenden Kriterien:
                                <ul>
                                    <li>Grund des Spielerwechsels</li>
                                    <li>Anzahl absolvierter Spiele</li>
                                    <li>Stärke des neuen Spielers</li>
                                    <li>Zeitpunkt</li>
                                </ul>
                            </li>
                            <li>Ein Ersatzspieler darf auf keinen Fall besser spielen als der zu ersetzende Spieler. Insbesondere darf der Ersatzspieler noch nie in einer höheren Liga gespielt haben als das Team, das einen Spielerwechsel anstrebt</li>
                            <li>Der Ersatzspieler ist verpflichtet, die Saison-Teilnahmegebühr zu bezahlen</li>
                        </ul>
                    </div>
                </toggle>
            </div>

            <div class="boxedtitle page-title">
                <h2>FAQ - Nicht gespielte Spiele</h2>
            </div>
            <div class="accordion toggle-accordion">
                <toggle>
                    <a class="fordere-toggle-title" href="">Was passiert mit nicht durchgeführten Spielen?</a>
                    <div class="fordere-toggle-content">
                        Grundsätzlich gilt: Wird ein Spiel bis Saison - Ende nicht gespielt, gilt es als nicht ausgetragen und wird nicht gewertet
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Was passiert wenn ich mich um das Spiel bemüht habe, das gegnerische Team jedoch keine Zeit hatte?</a>
                    <div class="fordere-toggle-content">
                        Behauptet eines oder beide Teams genügend Anstrengungen unternommen zu haben, das Spiel auszutragen, entscheidet die Rekurs Kommission über die Wertung des Spiels

                        <p>Die Rekurs Kommission berücksichtigt bei der Entscheidung über die Wertung des Spiels folgende Kriterien:</p>
                        <ul>
                            <li>Anzahl nachweisbarer Anfragen bzw. Absagen oder Nicht-Reagieren auf Anfragen der Teams</li>
                            <li>Meinung des Liga Coaches</li>
                            <li>Saisonverlauf: Welches Team hat bis zu welchem Zeitpunkt wie viele Spiele ausgetragen? </li>
                        </ul>

                        <p>Die Rekurs Kommission entscheidet...</p>
                        <ul>
                            <li>...bei eindeutiger Sachlage auf 3 zu 0 für ein Team</li>
                            <li>...bei nicht ganz eindeutiger Sachlage auf 3 zu 2 für ein Team</li>
                            <li>...bei unklarer Sachlage auf Nichtwertung des Spiels</li>
                        </ul>

                        <p>Anträge auf Wertung eines nicht gespielten Spiels haben bis spätestens 48 Stunden nach Saison - Ende schriftlich an die Rekurs Kommission zu erfolgen</p>
                    </div>
                </toggle>

            </div>

            <div class="boxedtitle page-title">
                <h2>FAQ - Disqualifikation</h2>
            </div>
            <div class="accordion toggle-accordion">
                <toggle>
                    <a class="fordere-toggle-title" href="">Ein Team kann disqualifiziert werden, wenn...</a>
                    <div class="fordere-toggle-content">
                        <ul>
                            <li>einer oder beide Spieler den Mitgliederbeitrag nicht bezahlt</li>
                            <li>bis zur Saison – Halbzeit kein Spiel ausgetragen wurde</li>
                            <li>ohne Ankündigung oder Erklärung bis zur Saison – Halbzeit nicht mindestens fünf Spiele ausgetragen wurden</li>
                            <li>vier Wochen vor Saison – Ende ohne Erklärung noch zehn oder mehr Spiele nicht ausgetragen wurden</li>
                            <li>während mindestens acht Wochen keine Spiele ausgetragen wurden und auf Anfragen von anderen Teams und des Liga Coaches nicht reagiert wird</li>
                            <li>die Spieler durch unsportliches Verhalten auffallen</li>
                            <li>ein Spieler ohne Erlaubnis durch einen anderen Spieler ersetzt wurde</li>
                            <li>ein Spieler mit Erlaubnis durch einen anderen Spieler ersetzt wurde, der besser spielt als der zu ersetzende Spieler </li>

                        </ul>

                        <p>Eine Disqualifikation aus schwerwiegenden Gründen kann zu einer Sperrung für spätere Saisons führen</p>
                        <p>Über eine Disqualifikation entscheidet die Rekurs Kommission nach Rücksprache mit dem Liga Coach</p>
                    </div>
                </toggle>

            </div>


            <div class="boxedtitle page-title">
                <h2>FAQ - Sonstiges</h2>
            </div>


            <div class="accordion toggle-accordion">
                <toggle>
                    <a class="fordere-toggle-title" href="">Spass oder Ernst?</a>
                    <div class="fordere-toggle-content">
                        Der Spass steht im Vordergrund. Du lernst viele Leute kennen. Mitmachen ist wichtiger als gewinnen.
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Wie entstand die Bar-foos-league?</a>
                    <div class="fordere-toggle-content">
                        Anfangs 2004 wurde die Bar-foos-league geboren. Die grundlegende Idee von Christian Haefeli und Divyam Täschler war, anhand einer Rangliste die Stärke der Töggeler in den verschiedenen Bars messen zu können. Nach einigen hitzigen Diskussionen entstand dann schliesslich die Idee der Bar-foos-league, (fast) wie sie heute noch existiert. Inzwischen ist die Liga ungeheuerlich gewachsen, weshalb die anfallenden Aufgaben zu zweit nicht mehr zu bewältigen waren. Deshalb ist fordere.ch inzwischen ein Verein mit vielen Helfern. <br />
                        Im Jahr 2017 wurden zudem die Divisionen St. Gallen und Luzern ins Leben gerufen.
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Wofür wird der Mitgliederbeitrag eingesetzt?</a>
                    <div class="fordere-toggle-content">
                        Bei Saisonbeginn bezahlt jedes Mitglied einen Mitgliederbeitrag von 25.-, unabhängig davon an welche Disziplinen teilgenommen wird. Wir möchten aus der Liga keinen Gewinn erwirtschaften. Das ganze Geld wird für die Preise und Events der Bar-foos-league verwendet.
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Wie viele Stärkeklassen gibt es?</a>
                    <div class="fordere-toggle-content">
                        Wie viele Ligen (Stärkeklassen) es in einer Saison gibt ist abhängig von der Anzahl Anmeldungen und wird jede Saison vom Vorstand neu entschieden. In der Regel sind es fünf Stärkeklasse in der Garlando Liga und zwei Stärkeklassen in der Ullrich Liga.
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Welche Hilfsmittel sind erlaubt?</a>
                    <div class="fordere-toggle-content">
                        Alle üblichen Hilfsmittel wie Gummis, Bänder, Handschuhe sind erlaubt.
                    </div>
                </toggle>
                <toggle>
                    <a class="fordere-toggle-title" href="">Ich kann an der Eröffnungsfeier oder der Halbzeitparty nicht teilnehmen. Ist das ein Problem?</a>
                    <div class="fordere-toggle-content">
                        Nein. Der einzige Pflichttermin ist der Finaltag. Sämtliche anderen Parties / Turniere haben keinen Einfluss auf den Ligabetrieb. Die Eröffnungsfeier findet nur in Zürich statt.
                    </div>
                </toggle>

                <toggle>
                    <a class="fordere-toggle-title" href="">Wie funktioniert die Bar-foos-league?</a>
                    <div class="fordere-toggle-content">
                        Eine Saison dauert ca. 6 Monate. In diesem Zeitraum werden die Finalisten der bar-foos-leage ermittelt. Anschliessend werden im Rahmen einer Abschlussparty (Finaltag) die Finale gespielt und die jeweiligen Liga-Sieger erkoren. Sobald die Saison begonnen hat können die Teams untereinander abmachen, wann und wo sie ein Spiel austragen möchten, und dies auch gleich online in den Kalender eintragen. Der Sieger einer Partie trägt das Ergebnis auf fordere.ch ein, damit die Tabelle immer aktuell ist.

                    </div>
                </toggle>

                <toggle>
                    <a class="fordere-toggle-title" href="">Wozu all die Informationen über die Mitspieler</a>
                    <div class="fordere-toggle-content">
                        Interessante Informationen über alle mitspielenden Teams könnt ihr unter dem Menüpunkt 'Teams' abrufen. E-mail-Adresse und Telefonnummer (nur wenn eingeloggt sichtbar) sind dazu da, Spieltermine zu vereinbaren und vorallem auch um das gegnerische Team zu informieren, falls mal ein Termin ins Wasser fällt. Wer lieber über's Handy kontaktiert werden möchte, setzt in seinem Profil einen Stern (*) hinter die Nummer, damit die Gegner über diese bevorzugte Kontaktweise Bescheid wissen.
                    </div>
                </toggle>

                <toggle>
                    <a class="fordere-toggle-title" href="">Wohin soll ich den Mitgliederbeitrag überweisen?</a>
                    <div class="fordere-toggle-content">

                    </div>
                </toggle>

                <toggle>
                    <a class="fordere-toggle-title" href="">Mit und auf was wird in der Bar-foos-league gespielt?</a>
                    <div class="fordere-toggle-content" ng-if="ctrl.isDivision(1)">
                        Es wird auf Garlando Deluxe Tischen mit original Bärenherz-Bällen gespielt. Ausser alle sind mit einem anderen Tisch oder Ball einverstanden.
                    </div>
                    <div class="fordere-toggle-content" ng-if="ctrl.isDivision(2)">
                        Es wird auf Garlando Deluxe Tischen mit original Bärenherz-Bällen gespielt. Ausser alle sind mit einem anderen Tisch oder Ball einverstanden.
                    </div>
                    <div class="fordere-toggle-content" ng-if="ctrl.isDivision(3)">
                        Es wird auf Garlando World Champion, Garlando Deluxe Tischen oder Tornado gespielt. Die Bälle müssen spielbar sein und Grip haben (z.B. Bärenherz oder Speed Control).
                    </div>
                </toggle>

                <toggle ng-if="ctrl.isDivision(1)">
                    <a class="fordere-toggle-title" href="">Muss ich im TFCZ einen Eintritt bezahlen, wenn ich ein Ligaspiel durchführen möchte?</a>
                    <div class="fordere-toggle-content">
                        <ul>
                            <li>Alle Nichtmitglieder des TFCZ’ müssen pro Abend je 5.- Franken bezahlen.</li>
                            <li>Wenn nur 1 Ligaspiel absolviert wird, gilt 5.- Franken pro Team.</li>
                        </ul>

                        <p>
                            Wir bitten euch, diesen Betrag immer unaufgefordert direkt im TFCZ zu bezahlen.
                        </p>
                    </div>
                </toggle>

                <toggle>
                    <a class="fordere-toggle-title" href="">Wo finde ich die Kontoinformationen von fordere.ch?</a>
                    <div class="fordere-toggle-content">
                        Die Kontoinformationen findest du <a href="/verein">hier</a>.
                    </div>
                </toggle>

            </div>

            <hr />
            <h4>Deine Frage konnte nicht geklärt werden?</h4>
            <p>
                Schreib uns kurz eine Nachricht über unser <a href="/contact">Kontaktformular</a> oder komm einfach in eine unserer Partnerbars. Meist sind dort einige Liga-Spieler anzutreffen :-)
            </p>
        </div>
        <!-- End page-content -->
    </div>
</div>
<!-- End row -->