<div class="row" ng-controller="fordere.archiveCtrl as ctrl">
    <div class="col-md-12">

        <div class="row" ng-if="ctrl.seasons.length === 0">
            <p class="alert alert-info">Was suchst du denn im Archiv? Das ist ja unsere erste Saison :-)</p>
        </div>


        <div class="row">
            <div class="col-sm-4" ng-repeat="season in ctrl.seasons">
                <div class="page-content page-shortcode">
                    <div class="box_icon">
                        <div class="t_center">
                            <h3>{{season.Name}}</h3>

                            <div class="alert alert-info" ng-if="season.competitions.length === 0 && season.cups.length === 0">
                                Noch nicht verf&uuml;gbar
                            </div>

                            <div ng-repeat="comp in season.competitions">
                                <hr />
                                <h5>{{comp.Name}}</h5>
                                <a class="btn btn-default" href="/leagues/{{comp.Id}}/teams">Teams</a> <a class="btn btn-default" href="/leagues/{{comp.Id}}/standings">Vorrunde</a>
                            </div>

                            <div ng-repeat="cup in season.cups">
                                <hr />
                                <h5>{{cup.Name}}</h5>
                                <a class="btn btn-default" href="/cups/{{cup.Id}}/tree">Bracket</a>
                            </div>

                            <div ng-show="season.FinalDay">
                                <hr />
                                <h5>Finaltag</h5>
                                <a class="btn btn-default" href="/season/{{season.Id}}/finaltag">Resultate</a>
                            </div>

                            <div ng-show="season.competitions.length > 0">
                                <hr />
                                <h5>Statistiken</h5>
                                <a class="btn btn-default" href="/season/{{season.Id}}/statistics">Statistiken</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- End main -->
</div>
<!-- End row -->